[2014-12-02 17:26] webmozart opened #1 "Web Resources"
Right now, the user of an application has no control over where the web assets of installed Composer packages are placed. These packages need to assume where their assets are going to be installed and use this path in their templates:

[code]

Here, for example, the "vendor/profiler" package expects me to install its CSS files under exactly this path in my web directory and I have no way to change

[2014-12-02 17:26] webmozart opened #2 "Support ** globs"
Puli should support globs with the `**` selector which matches directory separators as well (contrary to `*`).

[2014-12-02 17:26] webmozart opened #3 "Tag Parameters"
I think it should be possible to store parameters with tagged resources:

[code]

In this example, the user defined parameter "domain" is added to the tag. The manual way of doing the same is:

[code]

When the tagged resources are loaded with `findByTag()`, a `ParameterizedResourceCollection` will be returned, which has the additional method `getParameters($key)`:

[code]

[2014-12-03 14:21] Engerim opened #4 "[Composer-Plugin] Problem with Packages without composer.json and puli.json"
I have in my composer.json some old pear-pear packages as dependency for legacy code. The Problem is now that the composer plugin for puli will break with an exception during install.
I think a solution would be to catch the exception and ignore this package in the composer plugin. If this is okay for you, i can commit a pull request.

[2014-12-04 09:25] #4 closed, assigned to nobody

[2014-12-04 16:13] webmozart opened #5 "Add Resource::getUri()"
Currently, when searching a UriRepository, the URIs of the returned resources cannot be accessed. The URI should be returned from a new method `getUri()` in `ResourceInterface`.

[2014-12-04 17:53] taylorotwell opened #6 "[composer-plugin] Undefined property: stdClass:$name when running "puli dump""
Just installed Puli to play with it; however, seems to be broken. On alpha stability.

[code]

[2014-12-04 19:15] Engerim opened #7 "[Assetic] Problem building $formulae"
In Line 62 the name will set as array key, but with puli this is not a string. It is a object and this is not valid.

Assetic\Extension\Twig\TwigFormulaLoader :62
[code]

[2014-12-05 11:56] #6 closed, assigned to nobody

[2014-12-06 23:36] #2 closed, assigned to nobody

[2014-12-10 08:48] temp opened #9 "puli-cli overrides default list command"
Since puli-cli uses "list" as a custom command, the default list command which lists all available commands is overriden.

Maybe the puli command can be renamed to ls?
I don't know if it is possible to rename the internal list command of symfony-console...

[2014-12-10 08:53] temp opened #10 "Best way for dynamic resources?"
I'm just evaluating puli for a large project here.
We are using symfony, and puli seems like to solve all of our resource issues so far ;-)

There are some things which I need to solve, for example resources from the project itself.
Our app writes xml-files to app/resources/whatever, and I'd like to load these resources via puli.
But this would mean you would have to dump the resources after each

[2014-12-11 13:43] #5 closed, assigned to nobody

[2014-12-12 08:40] temp opened #11 "Error after composer update"
I have installed puli/cli via composer global.
After a composer global update I'm getting this error today, in the composer context:

[code]

hoa libraries have been updated in the composer update request.
Maybe there has been an incompatible change inside hoa?

[2014-12-13 15:52] #9 closed, assigned to nobody

[2014-12-16 09:23] webmozart opened #12 "Dump repo when puli.json was modified"
Currently, when the puli.json file is modified, the changes are not immediately visible in the CLI. The CLI should either automatically dump the repository when a puli.json was modified or at least print a warning.

[2014-12-17 15:14] webmozart opened #13 "[Suggestion] Remove the interface suffix in interface names"
Originally written by @stof in the (now closed) issue tracker of the puli/discovery repository:

Consumers of the interface really care about getting a ResourceBinding. They don't care about the fact that the contract is defined using an interface or a class.
This is even worse in case of the ResourceBinder where the short name (which describes what you needs) actually refers to an implementation

[2014-12-17 15:24] #3 closed, assigned to nobody

[2014-12-17 19:23] #13 closed, assigned to nobody

[2014-12-17 19:32] #10 closed, assigned to nobody

[2014-12-18 08:41] temp opened #14 "Priorities for resources?"
I'm still in the phase of evaluating puli, the only thing missing is migrating our javascript-files to puli.
Our app is a large ExtJS app, and we have _a lot_ of javascript files.

Now I'm having problems to load the javascript files in the correct order, since puli always order the resources alphabetically. Which, of course, makes a lot of sense, and in most cases this shouldn't be a problem.

Bu

[2014-12-18 13:03] stof opened #15 "Unsafe code generation in the PhpDiscoveryStorage"
In the template file, paths are dumped using `'<?php echo $resourcePath ?>'`, which is not safe if a path contains `'` (I'm not sure whether Puli validates this anywhere).
The same is done in other places, for instance for parameter names (and these ones are not forbidding using single quotes in them AFAIK)

[2014-12-18 13:05] stof opened #16 "the interface naming rule should be disabled on Insight"
Given that you removed the Interface suffix in https://github.com/puli/puli/issues/13, you should disable the rule enforcing this on Insight to avoid getting violations about it.

[2014-12-18 14:43] #16 closed, assigned to nobody

[2014-12-18 14:52] #14 closed, assigned to nobody

[2014-12-18 17:19] tbureck opened #17 "Uninitialized string offset: 0 on composer require"
When I tried to install puli/symfony-bundle, I got this error exception directly after composer updating the packages:

[code]

I'm on Windows 8.1, running PHP 5.5.14 with enabled OPcache (7.0.4) and Xdebug (2.2.5). Used Symfony version is 2.6.1 (tried it before with 2.5.3 as well). This is what my composer.lock looks like:

[code]

[2014-12-23 16:59] Engerim opened #18 "[Assetic-Extentsion] Some tests are broken"
Since the removing of UriRepository some tests in the AsseticExtension are broken, and i don't know how to fix them. So this is only an information.

[2014-12-28 18:20] dantleech opened #19 "Being less filesystem-centric"
Currently there is a `listDirectory` method in the `ResourceRepository` interface .. from a resource point-of-view would it not make more sense to call this `listChildren` ?

As a directory is a type of resource (at least in PHPCR), and other resources may have children.

[2014-12-29 12:01] #19 closed, assigned to nobody

[2014-12-29 15:39] #15 closed, assigned to nobody

[2014-12-29 19:34] #18 closed, assigned to nobody

[2015-01-02 09:54] dantleech opened #20 "Attaching to repositories and PHPCR"
Hi,

I am implementing the new `Resource` API - what is the use case for attaching to repositories?

[2015-01-02 09:59] temp commented on #11
New year, new problem ;-)
I'm not opening a new issue, since the new problem has the same focus.

I did a composer update, and puli packages have been updated. On the next composer update i received this:

[code]

[2015-01-02 10:02] temp commented on #11
These packages are installed globally and in the project:

[code]

[2015-01-02 10:04] temp commented on #11
Calling puli map also throws an error:

[code]

[2015-01-02 11:52] dantleech commented on #20
I made some comments on the PR I am working on: https://github.com/symfony-cmf/Resource/pull/2

[2015-01-02 12:08] temp commented on #11
Another thing I just saw. This is only a minor nuisance, don't know if it can be solved.
Switched to another branch where puli is not yet in use, and did a composer update.
puli packages where removed, but it still tried to install the resources. On another call of composer up this of course wasn't the case anymore.
Is it possible to check in the hook wether or not puli has been removed in this ru

[2015-01-02 12:13] webmozart commented on #20
As I replied in the PR, you can add any kind of resource to any kind of repository. A use case is caching:

[code]

I recommend to extend GenericResource to inherit implementations for all the general-purpose methods of the Resource interface.

[2015-01-05 08:18] temp opened #21 "Missing requirement on puli/symfony-bundle"
puli/symfony-bundle only suggests puli/twig-extension, but it seems to be a required dependency.

[code]

[2015-01-05 08:20] temp commented on #21
Same with puli/assetic-extension.
Can at least this one be made optional? We are not using assetic with symfony...

[2015-01-05 08:37] temp commented on #21
Oh, my bad - the assetic bundle was still installed. And twig also, of course.
Nevermind ;-)

[2015-01-05 08:37] #21 closed

[2015-01-05 09:15] temp opened #22 "Error with composer update on windows"
A colleague just checked out my puli-branch and did a composer update, on a windows machine.

It produced this error while calling "composer update", when trying to build the puli repository:

[code]

"bin/puli build" worked fine, nevertheless.

[2015-01-05 09:18] webmozart commented on #22
Thanks for the report! The package synchronization with Composer is a little flawed at the moment. I'm going to fix that ASAP.

[2015-01-05 09:19] temp commented on #22
Thanks! Let me know if you need more input.

[2015-01-05 09:35] webmozart commented on #22
At PuliPlugin:116, what are the values of the variables passed to `Path::makeRelative()`?

[2015-01-05 10:25] temp commented on #22
Here we go, path is anonymized, installPath points to project root dir:
[code]

[2015-01-05 12:54] webmozart commented on #22
Thanks! This should be fixed by webmozart/path-util@abe2a6cba8ecd16e834ef09472719c448382b905, could you check?

[2015-01-06 08:52] temp commented on #22
Works, thanks!

[2015-01-06 08:55] temp opened #23 "Error on composer up"
Sorry ;-)

While testing your fix for #22 we got this error:

[code]

Bug or configuration error?

[2015-01-06 09:09] webmozart commented on #23
Hehe, I'm sorry :) Thank you for your patience.

It seems to me like the plugin is trying to install the root package, whose relative path (relative to the root directory) is empty - hence the error. Can you check (in PuliPlugin.php:110-123):

* What the `$installPath` and `$package->getName()` is that are causing the error?
* What is the class of `$package`?
* In PackageManager.php:135: What is `

[2015-01-06 09:10] #22 closed

[2015-01-06 09:15] temp commented on #23
We tried to run bin/puli build, and got yet another error:

[code]

bin/puli build --force works fine.

[2015-01-06 09:16] webmozart commented on #23
Yes, this error is normal and will be replaced by a more usable error message soon. So no more errors now?

[2015-01-06 09:23] temp commented on #23
No, error on composer up is still here:

Syntax:
installNewPackages(): <installPath> <packageName> <className>
isPackageInstalled(): <rootPackageInstallPath>

[code]

[2015-01-06 09:50] webmozart commented on #23
Ok. In that last `isPackageInstalled()` call before the exception, what is:

* `$this->rootDir`
* `$installPath` (after `makeAbsolute()`)
* `$this->packages->getRootPackage()->getInstallPath()` (again)

[2015-01-06 10:40] temp opened #24 "Invisible commands"
I just played with the type command, and asked myself how I can define types via the cli.
While looking into the command classes I found TypeDefineCommand and TypeRemoveCommand, but both are not shown in the help summary of puli. Don't know wether or not this is a symfony/console bug, since both commands "type define" and "type remove" have spaces in their names.
Maybe just rename them to "type-de

[2015-01-06 10:45] temp opened #25 "Docs issues"
Since playing with types I noticed that the docs at docs.puli.io still describe only the old tag mechanism.
But I guess you are aware of that ;-)

Another thing I'm missing is a schema definition for puli.json, like on getcomposer.org.
I have seen that with "type --package <package>" puli shows the defined types for a package.
But how can I define types package-wise? I guess via puli.json, but I h

[2015-01-06 10:46] temp opened #26 "Error in the resource conflict error message"
I got this error message due to a resource conflict:

[code]

Shouldn't it state puli.json instead of composer.json?

[2015-01-06 10:49] temp opened #27 "More versatile ls command"
It would be nice if the ls command would not only accept <directory> as a parameter, but also query strings and types.
Query strings: bin/puli ls /whatever/*/*.js
Types: bin/puli ls my/type

[2015-01-06 10:51] webmozart commented on #24
They are shown when you do `puli help -a` and will be shown when doing `puli type -h` - this is still WIP.

The space in the name is on purpose and an extension of the Symfony Console. I wanted to achieve a Git-like user experience:

[code]

Cheers!

[2015-01-06 10:55] webmozart commented on #25
Yes, I'm planning to adapt the docs this week to use the CLI everywhere instead of editing the puli.json by hand.

I originally planned to put the schema definition online just like on getcomposer.org, but I don't think anymore I will do that. I really want people to use the CLI instead of editing puli.json by hand. The CLI prevents many mistakes that you can do if you edit by hand.

You cannot. E

[2015-01-06 10:56] webmozart commented on #26
Ah, thanks! This is still a left-over from when the resource definitions were listed in composer.json.

By the way, when using the "puli map" command, the "override" setting will be added automatically.

[2015-01-06 10:57] #26 closed

[2015-01-06 11:01] webmozart commented on #27
I am planning to add a `puli find` command that will do that. Also, I am planning to make `puli ls` more similar to the UNIX `ls` command:

Rough sketch:

[code]

What do you think?

[2015-01-06 11:03] webmozart commented on #27
As for types:

[code]

[2015-01-06 11:15] temp commented on #27
Yeah, -l would have been my next suggestion ;-)

I'm a bit undetermined about a seperate find command with a pattern - as a linux user I would think that ls does that. From your developer sight I understand that you split it into ls and find, since puli works internally like that. But from a usability sight I would vote for a unified ls command.

puli ls /test
puli find /test/*.js
puli ls /test/wh

[2015-01-06 11:16] temp commented on #25
Ok, makes sense. Thanks for the clarification!

[2015-01-06 11:16] #25 closed

[2015-01-06 11:18] webmozart commented on #27
Really? I wouldn't - for me those commands have very different purposes (both on Linux and in Puli):

* ls lists the contents of a directory. As a result, you get the names of the entries of one directory only.
* find lists files according to a search criteria. As a result, you get the absolute paths of all matches.

We can only unify the two commands if we let `puli ls` return absolute paths, whi

[2015-01-06 11:19] temp commented on #24
Ah, didn't see the CompositeCommand in the TypeDefineCommand.
And I wondered about the <sub-command> hint in the help. But didn't think about it ;-)

[2015-01-06 11:19] #24 closed

[2015-01-06 11:21] temp commented on #27
Agreed. Again, I didn't think enough about it, since listing files with patterns is more like unix find than unix ls.
+1 for find!

[2015-01-06 11:21] #27 closed

[2015-01-06 11:22] webmozart commented on #27
Thanks for your feedback! :) I appreciate it a lot.

[2015-01-06 11:26] temp commented on #27
![BETA TEST ALL THE THINGS!](http://cdn.meme.am/instances/500x/57797004.jpg)

[2015-01-06 11:34] temp opened #28 "[twig-extension] Error on empty template"
We just switched to loading twig templates via puli, and got an error on an empty twig template.
Since the template was empty before, and it didn't throw an error, I think puli might have a problem with it.
When I put a test string inside the template file, it works again.

Exceptions are only thrown by twig:

[code]

Code fragment to reproduce:
[code]

[2015-01-06 11:35] temp commented on #28
Both statements point to the same template, of course.
First via puli, second via symfony file locator.

[2015-01-06 12:31] temp commented on #23
This is the last output:

[code]

[2015-01-06 12:40] webmozart commented on #23
Ah! That's the clue then, thanks.

[2015-01-06 12:46] #23 closed

[2015-01-06 12:52] webmozart commented on #23
This should be fixed now.

[2015-01-06 15:04] webmozart commented on #17
This problem should be fixed now. Could you verify?

[2015-01-06 15:28] stof opened #29 "[Doc] Outdated description of Puli components"
The description of puli components in http://docs.puli.io/en/latest/components.html is incomplete. It misses the discovery system

[2015-01-06 15:29] webmozart commented on #29
Thanks for reporting. Yes, the docs are momentarily out of date, there have been a lot of changes which are not reflected yet. See also #25.

[2015-01-06 19:16] webmozart commented on #12
This is obsolete now. The CLI should always be used to modify puli.json.

[2015-01-06 19:16] #12 closed

[2015-01-07 00:24] jvasseur commented on #1
I'm interested by this feature, so if you want i can try creating an implementation.

[2015-01-07 08:24] temp commented on #23
Works, thanks!

[2015-01-07 08:27] webmozart commented on #1
Hi :) Thanks for your proposal! In fact, this feature is already almost ready (it will be implemented through the resource discovery). I would however be *very* grateful about testing Puli in general and reporting any errors you can find.

[2015-01-07 08:28] temp opened #30 "Development workflow"
We have been evaluating puli now for a few days, everything works fine. But we are having problems with the development workflow.
Right now we are using puli for templates and form configuration xml files.
But everytime we change one of these files, we have to call puli build, which is a really nuisance.
Is there anything we can do to automate this? How are you developing content with puli?
Maybe

[2015-01-07 08:31] temp opened #31 "Repository build version or hash"
Could a version or hash be added to the repository?
Would be nice to have for e.g. javascripts and caching.
In our code we use puli to load javascript files and build them to one large file. This would simplify a check for changes in develop mode.

[2015-01-07 08:32] webmozart commented on #30
Thanks for your feedback! The solution to this problem depends on the platform you use.

For Linux, there is only one small crucial feature missing, and that's the use of symlinks in FilesystemRepository. Then you only have to rebuild the repository after installing packages (and there it's done automatically).

On Windows, we don't have symlinks. For that I thought of two solutions:

* the `--wat

[2015-01-07 08:34] webmozart commented on #31
Is the modification date what you want?

[code]

[2015-01-07 08:39] temp commented on #31
Yes, this should suffice. Thanks!

[2015-01-07 08:41] temp commented on #30
The team mainly uses mac os x, so symlinks are welcome.
But there is one diehard windows user, which resists to switch to a more develop-friendly os... ;-)
So, too bad, a mixed environment.

[2015-01-07 08:51] webmozart commented on #30
I see. I'll soon implement the symlinks, they're fairly simple. Watching is a bit more tricky, but feel free to submit a PR for that. :)

[2015-01-07 08:54] temp commented on #30
We would stick to a grunt watch task, but it does not work on windows. :-(
As for a PR, I'd live to do that, but our project has an evil deadline. Will see when/how I will be able to contribute.

Nevertheless - love puli, good job!

[2015-01-07 09:24] webmozart commented on #30
I just read that apparentely Windows > Vista supports symbolic links!
http://de.php.net/symlink

[2015-01-07 09:41] temp commented on #30
Yes, Windows support symlinks in newer versions, but I remember there are problems with windows+php+symlinks.

Oh, nevermind, from http://php.net/manual/en/function.symlink.php:
Note: Windows users should note that this function will only work if the system you run PHP from is Windows Vista/Windows Server 2008 or newer. Windows versions prior to that does not support symbolic links.

Awesome!

[2015-01-07 10:27] #30 closed

[2015-01-07 10:33] temp commented on #31
Sorry, that was too fast. I'd like to have a version/hash/timestamp on the full repository, not a single file.
It should be altered every time a puli build or build via composer plugin was made. Or any other means of modification to the repository.
Which of course collides with #30 and symlinks...
Any thoughts?

[2015-01-07 10:51] webmozart commented on #30
This is implemented now, just run `puli build -f`. Symlinks are used by default, if possible. On Windows < Vista or Server 2008, files will always be copied.

You can manually disable symlinks in the configuration:

[code]

Delete .puli/PuliFactory.php (this is going to happen automatically soon) and run `puli build -f`.

[2015-01-07 10:57] webmozart commented on #31
Sorry, I don't think that's possible. Symlinks are one example where it's impossible to track changes without constantly monitoring the file system. Another example is a remote repository (database, PHPCR repository, ...) where this is impossible.

[2015-01-07 11:06] temp commented on #30
First response from the windows user - works with admin rights, but not without.
Seems to be forbidden by a domain policy with the default settings.
But that's a problem on our side ;-)
Will try it out here, too.

[2015-01-07 11:09] webmozart commented on #30
Ok, I read about that. In the final version of Puli there will hopefully be the possibility of using a local config file that overrides puli.json, which your Windows user could use in this case to turn off symlinks. That of course doesn't solve your problem. The only solution in that case is to use an alternative repository implementation (maybe on Windows only).

[2015-01-07 11:16] temp commented on #30
It's not really that big a problem right now. After the symlinks have been created the error will only arise for new files. And then he has to run a manual puli build with admin privileges.

[2015-01-07 11:19] temp commented on #31
Yea, i know.
I will work with the single file modification dates and pick the latest one for my checks.
Maybe the ResourceCollection could provide a getLatestModificationTime() method that does that?
If you don't want to pollute the API with this, I will do it manually.

[2015-01-07 11:58] webmozart commented on #30
Ok, sounds good. :)

[2015-01-07 11:59] webmozart commented on #31
Yes, I think doing this manually is the way to go.

[2015-01-07 14:31] mickaelandrieu commented on #1
:+1: too, this will be used in BackBee CMS as a real implementation example

[2015-01-07 14:57] temp commented on #30
Looking good! No problems found.

[2015-01-07 14:58] temp commented on #28
Is this a bigger problem?

[2015-01-07 16:15] webmozart commented on #30
Great :) Thanks for the feedback!

[2015-01-07 16:31] #28 closed

[2015-01-07 16:31] webmozart commented on #28
No, I just haven't found the time yet. Fixed now. :)

[2015-01-08 09:28] temp commented on #28
Excellent! Works, thanks!

[2015-01-08 13:55] temp opened #32 "Removal of a composer dependency"
I just removed a dependency from composer.json and ran composer update, resulting in this error:

[code]

Doesn't puli recognize the removal of a package, yet?
After removing mikey179/vfsStream from puli.json/packages

[2015-01-08 16:14] webmozart commented on #32
Thanks for reporting! Removal of packages is broken ATM. I'm going to fix this the next days.

[2015-01-09 16:44] #32 closed

[2015-01-09 16:46] webmozart commented on #32
This is fixed now.

[2015-01-09 16:46] webmozart commented on #17
Closing this until there's more feedback.

[2015-01-09 16:46] #17 closed

[2015-01-09 17:38] webmozart commented on #11
This should be fixed now. Packages with invalid configuration don't cause Puli to break anymore. Instead, they are listed in the output of the "puli package" command. Since this issue encompasses different problems (I think) and I'm not sure which of them persist after the changes in the last days, please open new issues if you still have problems/find new ones.

[2015-01-09 17:38] #11 closed

[2015-01-10 15:40] webmozart commented on #29
I updated the page now:
http://docs.puli.io/en/latest/components.html

[2015-01-10 15:40] #29 closed

[2015-01-11 17:07] webmozart commented on #20
Is this still an issue?

[2015-01-11 18:16] dantleech commented on #20
So just to check that I understand:

If a `PhpcrResource` implements the `BodyResource` we can transfer it to a `FilesystemRepository`

If we implement something like `KeyValue` resource then we could transfer `PhpcrResource` to a `MongoDBRepository` for instance.

Sounds pretty good.

[2015-01-11 18:16] #20 closed

[2015-01-11 19:19] rejinka commented on #1
I can not wait to use this feature. Exactly what i need for microsites, awesome!

[2015-01-11 21:56] webmozart commented on #20
Yes exactly :)

[2015-01-15 12:37] temp opened #34 "Discovery thoughts"
Just tried puli discovery for our resources - great!
A few caveats still remain, though.

1. Are enabled packages are only pulled from the root puli file? Or from all puli-files, for example via composer installed packages? Since your wrote the scary-part in you blog-post, I guess only from root.
2. We have a lot of packages that are installed via composer, and every package has a puli file. All r

[2015-01-15 12:39] temp opened #35 "Globbing"
Is it possible to NOT glob like git?

Example resources:
/app/main.js
/app/lib/something.js

When I ->find("/app/\*.js") I still get both files, not only the first.
Maybe a globbing like ant with different meanings for \*\* and \* would have been a better option?

[2015-01-15 13:37] webmozart commented on #35
Could you clarify?

[2015-01-15 13:41] webmozart commented on #34
1. Yes, only from the root.
2. There will soon be a command `puli bind -i` (or similar) that let's you interactively enable/disable all new (i.e. neither enabled nor disabled) bindings. This command will be launched automatically when doing a composer update, so that you can enable/disable bindings right during installation.
3. I think obsolete enabled/disabled bindings aren't handled at the momen

[2015-01-16 08:53] temp commented on #35
Sorry, didn't see the formatting issues. I meant \* and \*\*
In ant there is a differency between /app/\*.js and /app/\*\*.js, first resolves to js files in /app, second to all js files anywhere under /app.

[2015-01-16 08:55] temp opened #36 "Remove disabled bindings that point to non-existing UUIDs"
Puli should remove obsolete disabled bindings.

[2015-01-16 08:57] temp commented on #34
1. Ok
2. Nice!
3. Done, #36
4. Use case has been eliminated. since my project is a project with a legacy extjs version, I need to do some ugly stuff for loading a whole bunch of javascript files. But I managed to work around this.

[2015-01-16 08:57] #34 closed

[2015-01-16 11:22] temp opened #37 "Major error with symlinks on windows"
We just had a weird error with puli on windows.
Suddenly, the contents of Resources in several composer installed packages where missing.
After some research, we found out that this happened in packages that had puli resources.
We updated the missing files, and did a composer update - and again, files where deleted.

It _seems_ to be a problem with symlinks on windows. On my Mac everything works f

[2015-01-16 12:35] webmozart commented on #37
Weird. At least you can reproduce the error on the computer/project you just described, right?

Puli uses the Symfony Filesystem component to remove resources (see FilesystemRepository.php:334). Could you step through your debugger and see how often `remove()` is called on this line and with what arguments? It *should* be called only once for the removed directory (link).

The Filesystem component

[2015-01-16 15:14] temp commented on #37
Yes, will do. But earliest on monday. Will report afterwards.

[2015-01-20 12:35] digitalkaoz opened #38 "find with regex pattern"
i would love to see a feature like this:

[code]

so basicly allow searching by some sort of regex (wether its the glob regex syntax or real pcre syntax)

[2015-01-20 12:52] webmozart commented on #38
Thanks for opening this issue! Since `find()` (and similar methods) support a parameter `$language`, this feature would be usable like so:

[code]

Or when binding on the command line:

[code]

Sounds good?

[2015-01-20 13:23] digitalkaoz commented on #38
thats exactly what i had in mind...

[2015-01-22 11:48] webmozart commented on #35
This was implemented in [webmozart/glob 1.0.0-beta2](https://github.com/webmozart/glob/releases/tag/1.0.0-beta2).

[2015-01-22 11:48] #35 closed

[2015-01-22 11:50] webmozart commented on #38
Ok. I don't think this will make it into 1.0 as we're past the feature freeze, but I'll implement this for 1.1. :)

[2015-01-22 12:06] digitalkaoz commented on #38
i think that will be ok, i have a somewhat working hack here, but nothing i like to contribute. if i find time i can publish some code, but i think you have exactly in mind how it needs to be implemented ;)

[2015-01-22 15:15] stof commented on #30
@webmozart note that even on newer versions of Windows, the ability to create symlinks from PHP depends on the permissions of the user running PHP (using admin privileges grants such permission, but is is also possible to grant the finer-grained permission to the user itself). This is why Symfony's ``asset:install`` command has been refactored in 2.6 to be able to try using symlinks and then using

[2015-01-22 20:05] webmozart opened #40 "Copy on Windows if the user has no permissions for symbolic links"
See #30 and https://github.com/symfony/symfony/blob/2.7/src/Symfony/Bundle/FrameworkBundle/Command/AssetsInstallCommand.php#L114.

[2015-01-22 20:05] webmozart commented on #30
Thanks @stof! I created a ticket for this issue.

[2015-01-22 20:15] webmozart commented on #37
Any news on this issue?

[2015-01-22 22:09] temp commented on #37
Will try to check tomorrow - had no problems on my private windows pc at home.
My collegue at work still has the issue, though.

[2015-01-22 22:12] temp commented on #35
Awesome!
Will switch to beta2 tomorrow, and test.

[2015-01-28 15:49] webmozart commented on #37
Any news?

[2015-01-29 09:23] dantleech opened #41 "Object resource?"
Would it make sense to add a resource interface `ObjectResource`?

For instance, I am creating a Resource based CMF Router. The Resource's returned can be PhpcrOdmResource, PhpcrResource or DoctrineOrmResource. These currently have the methods `getDocument`, `getNode` and `getEntity` respectively. The underlying resources must be of type `Route`.

It is therefore desirable to have a `getObject` me

[2015-01-29 09:27] webmozart commented on #41
Do you have any use case in mind where an `ObjectResource` could be used interchangeably, independent of whether the underlying object is a document, node or entity?

To make this a little more generic, I could imagine adding a `getPayload()` method to the `Resource` interface which returns arbitrary, implementation-specific data.

[2015-01-29 09:31] dantleech commented on #41
Yeah, the use case is the router. All that matters is that the object extends the `Symfony\Component\Routing\Route` object. So it could be a ORM-like object or a Route loaded from the standard routing system.

`getPayload` would mean that I could not guarantee that the return value is an object.

[2015-01-29 09:32] webmozart commented on #41
You'd need to check whether the object is a route anyway, no?

[2015-01-29 09:34] dantleech commented on #41
yeah, but I would imagine having to do the following:

[code]

[2015-01-29 09:37] webmozart commented on #41
[code]

sounds simple enough to me no? :) You can't *guarantee* anyway that a method returns an object ever, even if the docblock says so.

[2015-01-29 09:39] dantleech commented on #41
Hmm, right you are. I tested with `var_dump('asd' instanceof \stdClass)` but using a variable works as expected.

[2015-01-29 09:46] dantleech commented on #41
So .. I think +1 for getPayload :)

[2015-01-29 09:46] webmozart commented on #41
There you go. :)

[2015-01-29 09:46] #41 closed

[2015-01-29 09:46] dantleech commented on #41
heh. quick work :P thanks.

[2015-02-02 15:34] webmozart opened #42 "Add EditableRepository::move()"
See symfony-cmf/ResourceRestBundle#6

[2015-02-02 23:58] Tobion opened #43 "[Assetic Extension] undefined variable $repoDir"
`$repoDir` in https://github.com/puli/assetic-extension/blob/master/src/Util/PuliCssUtils.php#L49 does not seem to exist

[2015-02-03 05:58] webmozart commented on #43
Thanks for reporting this issue! The PuliCssUtils class is work in progress.

[2015-02-04 08:37] dantleech commented on #42
- Should move also support changing the name of the resource?
- How do / should we manage moving between different repository implementations?

[2015-02-04 09:02] webmozart commented on #42
I guess that moving should be equivalent to remove()+add(), but within a transaction. Hence changing of names would naturally be supported.

Moving between repositories would then need to be implemented manually (remove()+add()) or via some sort of composite repository that manages moving across repositories.

Do I make sense?

[2015-02-04 09:17] dantleech commented on #42
Yeah, thats good :)

[2015-02-04 10:14] dantleech opened #44 "Resource type"
It would be useful to be able to access the "type" for a given Resource payload.

For example, PHPCR Resource payload class is always of class type `PHPCR\NodeInterface`, but the "real" type of the node is determined by its PHPCR node-type.

So  I would expect something like:

[code]

The analogue of this can be seen in the Sling API under [getResourceType](http://sling.apache.org/apidocs/sling5/o

[2015-02-04 10:43] webmozart commented on #44
Can you describe in a bit more detail what this type would be used for?

[2015-02-04 10:57] dantleech commented on #44
My actual use case is that I am building  a REST API for a resource tree browser which supports drag-and-drop move operations.

It is necessary to describe which resources can accept other resources as children.

For example:

[code]

Nodes of type `nt:article-folder` only accept types of `[nt:article]`

So in the REST response it would be necessary to indicate this

[code]

But there is no progra

[2015-02-04 10:59] webmozart commented on #44
Ok. And what is the payload of your resources?

[2015-02-04 11:00] webmozart commented on #44
What about `NodeInterface` stored in the payload? Can the type be accessed via that interface?

[2015-02-04 11:13] dantleech commented on #44
It can, but that would mean coupling to the PHPCR/ORM/xxx resource.

For example, to add the resource payload-type to each object in the REST response, I would need to first to explicitly check if it were a PHPCR resource, or an ODM resource and then determine the payload type accordingly.

[2015-02-04 11:15] webmozart commented on #44
Is the resource tree browser supposed to work with any kind of resource or only specific ones? (e.g. would it work with core DirectoryResource and FileResource implementations?)

[2015-02-04 11:18] dantleech commented on #44
Thats the plan. It would be great to have the ability to browse Twig templates on the filesystem for example.

[2015-02-04 11:39] webmozart commented on #44
How would the resource type be set on those resources? After all your browser also needs to know that a DirectoryResource accepts children and a FileResource doesn't?

[2015-02-04 11:50] dantleech commented on #44
Off the top of my head (I am still trying to puzzle this out):

[code]

So the resource aliases would be mapped:

[code]

And the "accept" would be mapped manually or inferred from metadata:

[code]

[2015-02-07 08:35] dantleech commented on #44
@webmozart what do you think about this? does it make sense?

[2015-02-09 15:02] temp commented on #37
Sorry, colleague left for vacation without a chance to test :(

[2015-02-09 15:08] temp commented on #34
Any news on 2)?
We have a lot of bindings, and it's a real pain to enable them all by hand.
Nice would be a "--enable all" or "--enable my/type", which enables all bindings for the specified type.
Interactive would be nice, too ;-)

[2015-02-11 10:46] temp opened #45 "Configurable symfony bundle"
I think it would be a good idea to force-disable the usage of twig and assetic when using the puli symfony bundle.
We are using twig, but we don't want to use templates via puli.
But we have to, since the extension only checks wether or not twig is available.
It would be nice to have a configuration that disables this.
Same for assetic.

[2015-02-11 10:48] temp opened #46 "Error with puli twig loader"
I don't know wether or not this is an error - when the template extension is installed, and the requested template isn't found, the puli template loader throws an error.
Shouldn't it simply return without a loaded template, and have the chain loader decide wether or not the template was not found?
Maybe there are additional template loaders after puli...

[2015-02-12 15:32] gnugat opened #47 "Constant PULI_FACTORY_CLASS already defined"
Hello,

When Composer's autoload file is included twice, we get the following error:

    PHP Notice:  Constant PULI_FACTORY_CLASS already defined in /home/foobar/medio/vendor/autoload.php on line 8

I can reproduce this issue by installing [Medio](https://github.com/gnugat/medio) and running `phpspec run` in it.
According to @stof, Composer intended the autoload file to be included as many times

[2015-02-12 15:33] stof commented on #46
@temp this is the expected behavior of Twig loaders. they should throw a Twig_Error_Loader when they cannot load a template. The Twig_Loader_Chain is aware of that and catches these exceptions to move to the next one.

[2015-02-13 06:53] temp commented on #46
Ok, thanks for the clarification.
So the Twig_Loader_Chain throws the exception of the last tried loader?
Was just confused that I'm getting a puli loader exception when trying to load a nonexistant template "::article.html.twig".

[2015-02-13 06:53] #46 closed

[2015-02-14 06:23] dantleech commented on #44
ping :)

[2015-02-18 07:45] dantleech opened #48 "Composite repository resource and "root" mountpoint nodes."
Currently Composite repositories have no resource at `/`. Instead an `Assert` error is thrown:

[code]

I would expect there to be a `CompositeResource` at this location, the mount points for the resource would be listed as its children.

Another, related, issue is that accessing the "root" resource at a mount point fails:

[code]

Where `pages` is the mount point, it should return the resource at

[2015-03-11 07:20] gnugat commented on #47
Issue fixed in puli/composer-plugin#11

[2015-03-11 07:20] #47 closed

[2015-03-17 15:45] webmozart commented on #1
This is implemented now: https://github.com/puli/web-resource-plugin

[2015-03-17 15:45] #1 closed

[2015-03-17 15:49] webmozart commented on #38
For your information: The glob alternative syntax `{a,b,c}` was added to https://github.com/webmozart/glob recently, so you can do this now:

[code]

which is equivalent to the above regular expression.

[2015-03-17 16:45] digitalkaoz commented on #38
**wh00pwh00p** :+1:

[2015-03-17 17:47] webmozart commented on #38
Given my above comment, I'll close this issue for the time being. I don't think that adding regular expression support is very important now.

[2015-03-17 17:47] #38 closed

[2015-03-18 14:57] dantleech opened #49 "Composite repository resource listing"
Currently it is only possible to directly access resources in a mounted resource. It is not possible to, for example, list mounted resources or retrieve the composite root as a resource.

For example

[code]

I want to be able to do:

[code]

See [this PR](https://github.com/puli/repository/pull/25) for a very sketchy attempt at this.

[2015-03-18 15:00] dantleech commented on #44
@webmozart any decision on this yet?

[2015-03-18 21:32] webmozart commented on #49
Thanks for reporting this issue! I will look into fixing this for version 1.1.

[2015-03-18 21:33] webmozart commented on #37
Any news?

[2015-03-19 09:40] #40 closed

[2015-03-19 09:43] webmozart commented on #30
This should be fixed by puli/repository@e6d2cf01b0d17b95891a294a23ba0ec24303fb47. Can you verify?

[2015-03-20 08:46] temp opened #50 "Errors after composer update"
Just did a composer update, requires are:

[code]

This resulted in these package versions:

[code]

But composer throws the following error:

[code]

[2015-03-20 08:48] webmozart commented on #50
Sounds like `Phlexible\Bundle\IndexerBundle\Command\DeleteCommand->configure()` uses the `InputOption` class of webmozart/console, which was moved and renamed to `Option` later on?

[2015-03-20 08:49] temp commented on #50
Yea, just realised that.
Guess it was just a wrong import in the command...
Nevermind ;-)

[2015-03-20 08:49] #50 closed

[2015-03-20 09:22] temp commented on #30
I got a reply-mail for this ticket from you, webmozart, but I can't find the comment?
"This should be fixed by puli/repository@e6d2cf0. Can you verify?"
Have you deleted this comment?

[2015-03-20 09:24] webmozart commented on #30
Yes, I deleted the comment as I replied to the wrong ticket. :)

Anyway, symlinks on Windows *should* be fixed now.

[2015-03-20 09:30] temp commented on #30
Ah ok, this was confusing, thanks for the clarification!

[2015-03-20 09:31] temp commented on #37
We tried it again on my colleagues windows machine, and did not experience any problems.
No vanishing vendor-files anymore.

[2015-03-20 09:31] #37 closed

[2015-03-23 09:20] webmozart commented on #44
After chatting about this, we decided to push this functionality to symfony-cmf/Resource until there is more need to have this in Puli core. We also decided to remove `getPayload()` from Puli core, which I did in puli/repository@72052f8e935076c6e00a5f5abb1b46ed6800cad3.

[2015-03-23 09:20] #44 closed

[2015-03-23 10:04] webmozart opened #51 "Puli bundle does not work when Asset Plugin is not enabled"
If the Asset Plugin is installed, but not enabled (via `puli plugin install...`), the PuliBundle for Symfony does not load because the generated factory does not support the method `createUrlGenerator()`:

[2015-03-25 17:40] harikt opened #52 "Puli documentation and usage"
Hi @webmozart ,

I was trying puli after some time. I had some difficulties to make things work in my experiments. I know it may be my fault . Would like to share my failures

1. The doc mentions about http://docs.puli.io/en/latest/getting-started.html#loading-the-puli-factory .

Wonder where we should create the file and do we need to execute this file or not . May be you need to comment out in t

[2015-03-25 17:46] webmozart commented on #52
Hi @harikt,

Thank you for the feedback! :)

How you create the `$factory` and the `$repo` objects depends on your application. If it's a simple script, you can simply create them on top of the script, as you did. If it's a more complex application, you might want to use a Dependency Injection Container which returns the objects something like this:

[code]

You should put the `config`, `public` a

[2015-03-25 17:47] webmozart commented on #52
I will try to improve the documentation to better answer your question.

[2015-03-25 17:52] harikt commented on #52
I am also looking into http://docs.puli.io/en/latest/web-resources.html . So far I did

[code]

Also interested to know each and every time we need to run puli cli to map the resource ?

If it can do this as a composer post install hook may be good.

I wish to bring puli if possible to a framework skelton https://github.com/harikt/conduit-skelton .

[2015-03-26 08:43] webmozart commented on #52
Can you run `puli map` and `puli tree` and show me the output?

No. If you map `/package` to your `res` directory, then all files in that directory are mapped too. So you should have to run `puli map` only once or twice per package, although I'd like to simplify that in a later version through a `puli init` command.

[2015-03-26 09:21] harikt commented on #52
$ php vendor/bin/puli map
$ php vendor/bin/puli tree
/

0 resources

Please note that the package is not installed via composer.

It is still a path to a folder.

Thanks

[2015-03-26 09:45] webmozart opened #53 "Show recommendation when "puli map" returns no result"
The command `puli map` should show a description like:

if no mappings exist at the moment.

[2015-03-26 09:47] webmozart commented on #52
It seems you didn't add a mapping yet, otherwise `puli map` would show some output. I created a ticket to improve the output of that command: #53.

You should run:

[code]

to map the Puli path `/package` to the directory `res` (given that directory exists).

[2015-03-26 10:02] harikt commented on #52
Hi @webmozart ,

Here is my package folder .

[code]

Here is the o/p of the map command.

[code]

[2015-03-26 10:05] webmozart commented on #52
Ah, now I see the confusion :) I expect your package to look something like this:

[code]

So you are working *inside* the `package` folder. Otherwise it's natural that the `res` directory is not found. :)

[2015-03-26 10:08] harikt commented on #52
nope. See I am inside a directory puli.  The ls command shows

[code]

The package folder is what I created for testing . Wanted to see whether the public file will be pushed to web folder.

[2015-03-26 10:09] webmozart commented on #52
Yes, I am just telling you what a typical package will look like :) However, you can work with your directory structure if you map your paths accordingly:

[code]

[2015-03-26 10:15] webmozart opened #54 "Create "puli init" command"
A `puli init` command should be added to help bootstrapping a Puli package. The command should do the following things:

* Ask for the package name unless a composer.json with a package name is present.
* Ask whether the project is a library or an application
* Suggest to create a `res` directory. If yes,
 * Suggest to create a `res/config` directory.
 * Suggest to create a `res/public` directory.

[2015-03-26 10:19] harikt commented on #52
It seems more work than I expected to run Puli :( .

[code]

[2015-03-26 10:31] webmozart commented on #52
I'm sorry for your bad experience. I definitely need to work on the documentation and the error messages.

To improve your experience and learn more easily, I *really* recommend you to create the directory structure I showed you before. Once you understand Puli, you can still customize the directory structure the way you like.

Let me repeat the directory structure:

[code]

The directory `package

[2015-03-26 16:08] webmozart commented on #52
Hi again, I created a demo application that should help you experiment with Puli more easily:
https://github.com/puli/demo-application

[2015-03-26 16:13] harikt commented on #52
Thanks @webmozart .

If there was some steps that you have worked to make that could have helped. How the puli.json was created etc.

[2015-03-26 16:14] webmozart commented on #52
@harikt It's all there in the documentation. But apparently the docs are not good enough, I'll work on that.

[2015-03-26 16:17] harikt commented on #52
@webmozart the docs are there. But all spread across :-/ .

[2015-03-26 16:30] webmozart commented on #52
I added reproduction steps to the README of the demo app now. Does this help?

[2015-03-26 16:58] harikt commented on #52
Thank you @webmozart .  I will give it a try once again though I tend to look at my own solution built  earlier.

[2015-04-08 13:13] webmozart opened #55 "Implement RepositoryManager::findPathMappings()"

[2015-04-08 14:15] webmozart commented on #36
What do you mean by "obsolete" bindings?

[2015-04-08 14:34] webmozart commented on #53
Fixed in puli/cli@a5ec0aaa11294306dde56d3c1c6278953086e228

[2015-04-08 14:34] #53 closed

[2015-04-08 15:45] webmozart opened #56 "Add tests to Puli bundle"
Currently, the Puli bundle for Symfony does not contain any automated tests. This should be fixed.

[2015-04-08 15:50] webmozart opened #57 "Add "type" to puli.json"
A "type" key should be added to puli.json. Possible values:

* application
* package

[2015-04-09 01:11] webmozart commented on #52
I improved the [Getting Started guide](http://docs.puli.io/en/latest/getting-started.html) to address your concerns now. Hopefully the guide is suited better now to give a quick introduction into Puli.

[2015-04-09 01:11] #52 closed

[2015-04-09 02:47] harikt commented on #52
Thank you @webmozart .

[2015-04-09 10:09] rejinka commented on #56
I'm onto it

[2015-04-09 21:36] webmozart commented on #55
This is implemented now.

[2015-04-09 21:36] #55 closed

[2015-04-09 22:44] webmozart opened #58 "Add "puli find --file" command option"
The "--file" option should be added to the "puli find" command to find resources by file path:

[code]

[2015-04-09 22:46] webmozart opened #59 "Add "puli url" command"
The "puli url" command should be added to generate the URL of an asset on the command line:

[code]

[2015-04-09 22:54] webmozart opened #60 "Add "puli fix-css" command"
The "puli fix-css" command should be added to which takes a CSS file, looks up its Puli path and then resolves all absolute/relative Puli paths in `url()` statements to Asset URLs.

The output should be passed to the standard output, except if an output file is provided.

The input may optionally be passed via the standard input.

The Puli path may optionally be passed as parameter.

[code]

[2015-04-10 06:10] tolry commented on #60
I really like the idea. This would definitely help in building a workflow that gets all 'referenced' assets  correctly loaded.

But I am not quite sure about the name 'fix-css', without context this could mean lots of things, just two ideas from the top of my head:

* fix-css-paths
* translate-css-paths

[2015-04-10 06:23] webmozart opened #61 "Improve console performance"
Currently, the "puli" console command takes about 300ms to execute. This should be improved, if possible.

[2015-04-10 07:48] yguedidi commented on #60
:+1:, but `resolve-css-paths` or just `resolve-css`?

[2015-04-15 11:14] webmozart opened #62 "Support globs in ResourceDiscovery::findByPath()"

[2015-05-06 08:19] WouterJ commented on #42
Just wondering, did anyone already started working on this one?

[2015-05-06 08:21] webmozart commented on #42
Not yet. This is probably a bit tricky, since you need to ensure transactional properties within move() (i.e. roll everything back correctly on error). I'd be super happy if you want to work on that. :)

[2015-05-06 21:13] WouterJ commented on #42
Hmm, I've never investigated Puli internals, but this might be a good reason to finally do it. Just to make things clear, what has to be done:

* Add `EditableRepository#move()`
* Implement it for the repositories extending this one (e.g. `FilesystemRepository`)

I believe the rollback should be handled by the implementation, or should Puli provide the logic for it?

[2015-05-07 07:13] webmozart commented on #42
@WouterJ Exactly :) The rollback needs to be done in the implementation. That is, either `move()` succeeds completely or it fails without changing state. There must be no side effects if an exception occurs.

[2015-05-07 10:34] patternseek opened #63 "Support for runtime configuration."
Hi,

There are various situations where we might want to include resources dynamically so it would be really useful to be able to augment the mappings in the puli.json with additional mappings added at runtime, similarly to Composer's addPsr4() method.

Cheers.

[2015-05-07 10:49] webmozart commented on #63
Hi :)

I don't know details about your use case, but you can achieve this in various ways:

* If you want to add mappings to the puli.json of a project based on your own logic, you can uses the [Puli Manager API](/puli/manager) to do that.

* If you want to run that logic automatically (e.g. during "puli build"), you can create a [Puli Plugin](https://github.com/puli/manager/blob/master/src/Api/Pu

[2015-05-07 11:07] patternseek commented on #63
Thanks for the quick reply! :)

Sounds like the Puli Manager API is probably the closest to what I'm looking except the difference would be that ideally the additional paths would be held in memory only rather than persisted to the puli.json.

I think this would be generally useful but I'll explain my specific case anyway. Basically I have a number of modules that get included in the app at build

[2015-05-07 12:45] webmozart commented on #63
I see. In that case, listen to one of the *_BUILD_REPOSITORY events that I just added (see the referenced commits) and use the [Puli Repository API](https://github.com/puli/repository/blob/1.0/src/Api/EditableRepository.php) directly. Then the resources are added to the repository everytime that the repository is built (i.e. during `composer update` and `puli build`), but they are not added to pul

[2015-05-07 13:18] patternseek commented on #63
Oh wow, you're a star thanks!

[2015-05-07 13:30] webmozart commented on #63
I suppose I can close this :) If you have any problems, don't hesitate to reopen or open a new issue.

[2015-05-07 13:30] #63 closed

[2015-05-07 13:32] patternseek commented on #63
Yep thanks.

[2015-05-07 13:39] patternseek opened #64 "private method PathCommandHandler::applyMergeStatements() not used."
Attempting to mount multiple physical paths on a single logical path I was getting errors like this when attempting to use "+" to append a path:

[code]
The mapping may look odd but it's because I'm transitioning a bunch of legacy code.

I had a poke around and came across PathCommandHandler::applyMergeStatements() which looks like it's intended to handle appending and removing phys paths from a l

[2015-05-07 13:41] webmozart commented on #64
Ah, this is a documentation issue. This functionality was moved to the "puli path update" command.

[code]

[2015-05-07 13:42] webmozart commented on #64
The applyMergeStatements() method is dead code and should be removed.

[2015-05-07 13:47] patternseek commented on #64
Thanks.

[2015-05-07 14:59] WouterJ opened #65 "Tests on Windows"
A lot of the filesystem tests on Windows fail because of the `\` vs `/` thing. I wonder if the repository should normalize things so that it always returns paths with `/`.

[2015-05-07 15:45] webmozart commented on #65
Could you post the errors? I thought that I normalized slashes to forward slashes everywhere.

[2015-05-07 20:51] WouterJ commented on #65
This is the full output when running `composer install && phpunit` on Windows:
[code]

[2015-05-08 06:50] webmozart commented on #65
Thanks!

[2015-05-11 22:17] amitumi02 opened #66 """""NOW"""Washington Wizards vs Atlanta Hawks live Coverge Tv Now"
""""NOW"""Washington Wizards vs Atlanta Hawks live Coverge Tv Now, Washington Wizards vs Atlanta Hawks live Coverge Tv Now, Atlanta Hawks vs. Washington Wizards: Live Score and Analysis for Game 3 Bleacher Report‎ - 2 days ago NBA Playoffs 2015: Atlanta Hawks vs. Washington Wizards Game 4, live stream, how to watch online

LIVE WATCH LINK>> http://hdtvwatch.com-live.net/2015/05/04/nba-live-streami

[2015-05-11 22:23] amitumi02 opened #67 "12:05:15::::Washington Wizards vs Atlanta Hawks live Coverge Tv Game"
12:05:15::::Washington Wizards vs Atlanta Hawks live Coverge Tv Game, Washington Wizards vs Atlanta Hawks live Coverge Tv Now, Atlanta Hawks vs. Washington Wizards: Live Score and Analysis for Game 3 Bleacher Report‎ - 2 days ago NBA Playoffs 2015: Atlanta Hawks vs. Washington Wizards Game 4, live stream, how to watch online

LIVE WATCH LINK>> http://hdtvwatch.com-live.net/2015/05/04/nba-live-stre

[2015-05-12 19:56] patternseek opened #68 "Failing tests"
On a freshly cloned copy of master for puli/manager, after installing phpunit and adding sebastian/comparator which seems to be required to run the test suite (probably should be a dev dependency?) I get the following failures:

[code]

PHP 5.6.5-1 on Debian unstable/testing.

[2015-05-13 08:50] webmozart commented on #68
Hm, I cannot reproduce this. I added PHPUnit as dev dependency in puli/manager@5f3c5a76e3b2e2279641727890ee8309043be9fe.

If this still fails for you, can you checkout https://github.com/webmozart/json and run its test suite on your computer? Maybe that gives a clue.

[2015-05-13 09:32] patternseek commented on #68
I'm still getting the errors on master yes. The JSON package is also failing, here's the output:
[code]

[2015-05-13 09:41] webmozart commented on #68
Can you debug the values of `$decoded`, `$options` and `$json` in `JsonDecoder::decodeJson()` in those tests?

[2015-05-27 08:18] webmozart commented on #68
Any news?

[2015-05-27 08:27] webmozart commented on #61
When using the PHAR, performance is much better. If possible, the dependency on the Symfony Console comonent should be removed from webmozart/console to load a few classes less per call.

[2015-05-27 09:40] patternseek commented on #68
Sorry, super busy at the moment. Will come back to this as soon as possible.

Bernhard Schussek wrote:

[2015-05-28 13:25] pkruithof opened #69 "[Symfony bundle] Use new factory service configuration"
http://symfony.com/doc/current/components/dependency_injection/factories.html

Since 2.6, the `factory-service` and `factory-method` attributes have been replaced by a `factory` attribute. This raises deprecation warnings when, for example, clearing the cache:

[code]

Since the minimum required Symfony version is 2.3 (judging by the composer requirements) I don't know how you want to tackle this.

[2015-05-30 11:13] amitumi28 opened #70 "HOW TO WATCH@~ Chelsea vs Thailand All Stars live Coverge Tv Now"
How to watch Thailand XI vs. Chelsea: Television and streaming information We Ain't Got No History‎ - 18 hours ago Diego Costa hurt during Chelsea training in Bangkok ahead of Thailand All-Stars friendly

CLICK TO HERE>>> http://hdtvwatch.com-live.net/2015/05/17/all-soccer-live-stream-online-hd-tv/

CLICK TO HERE>>> http://hdtvwatch.com-live.net/2015/05/17/all-soccer-live-stream-online-hd-tv/

CLI

[2015-05-30 13:36] #70 closed

[2015-06-02 14:51] pkruithof commented on #69
ping @webmozart

I could create a PR if I know how you want to resolve this. Maybe multiple configuration files (`services-23.xml` and `services-26.xml`), where the right one is loaded in the extension?

[2015-06-03 08:22] webmozart commented on #69
This was fixed in the latest dev version of the Symfony bundle: puli/symfony-bundle@42b315cd2ac337363850cd26ac66aaf452ec873b

I'll release a new beta version shortly. :)

[2015-06-03 08:22] #69 closed

[2015-06-03 08:33] temp opened #71 "Puli breaks in windows with windows-style line endings in puli.json"
In puli/composer-plugin, PuliPlugin::loadPuliPackages(), the output from "package --list" is exploded with a unix line ending, but the file was checked out with windows line endings, resulting in an error.
Maybe the line ending should be normalized to unix line endings first?

[2015-06-03 09:17] pkruithof commented on #69
Great, thanks! This project is looking very promising, I'm trying it out on a new project right now. Keep up the good work!

[2015-06-03 09:18] webmozart commented on #69
Thanks @pkruithof :) Much appreciated.

[2015-06-03 09:19] #45 closed

[2015-06-03 09:25] webmozart commented on #56
This was fixed in puli/symfony-bundle@42b315cd2ac337363850cd26ac66aaf452ec873b.

[2015-06-03 09:25] #56 closed

[2015-06-03 09:26] webmozart commented on #51
This is fixed now that the Asset Plugin is integrated into the Puli Manager/CLI.

[2015-06-03 09:26] #51 closed

[2015-06-03 09:47] stof commented on #68
@patternseek You are running tests with PHPUnit 4.2. you should use the version installed through composer instead to have the right version. the testsuite relies on PHPUnit 4.6

[2015-06-03 17:18] patternseek commented on #68
@stof OK. Using the phpunit installed by composer for manager master, which is 4.8-g159ab0c, it still fails I'm afraid:

[code]

@webmozart
[code]

[2015-06-03 23:34] AMITUMI0221 opened #72 "FINAL..CUP Tampa Bay Lightning vs Chicago Blackhawks Live Covarge Tv"
All times are in Eastern Time Schedule and scores In the news Image for the news result NHL Stanley Cup Playoffs 2015: Tampa Bay Lightning vs. Chicago Blackhawks Game 1 live stream, TV, radio AL.‎ - 2 hours ago

================================
Click Here To Live Watch=>. http://w.atch.me/Gg2Hy
================================

================================
Click Here To Live Watch=>. http://w.

[2015-06-03 23:37] AMITUMI0221 opened #73 "CUP !!~Tampa Bay Lightning vs Chicago Blackhawks Live Covarge Tv"
All times are in Eastern Time Schedule and scores In the news Image for the news result NHL Stanley Cup Playoffs 2015: Tampa Bay Lightning vs. Chicago Blackhawks Game 1 live stream, TV, radio AL.‎ - 2 hours ago
Click Here To Live Watch=>. http://w.atch.me/Gg2Hy
Click Here To Live Watch=>. http://w.atch.me/Gg2Hy
Click Here To Live Watch=>. http://w.atch.me/Gg2Hy

Tampa Bay Lightning center Tyler Jo

[2015-06-04 09:44] #72 closed

[2015-06-04 09:44] #73 closed

[2015-06-04 12:48] stof commented on #68
Can you should the output of ``php -i |grep json`` ?

[2015-06-04 13:08] patternseek commented on #68
[code]

That final line is from the memcached extension.

[2015-06-04 13:35] patternseek commented on #68
It seems that the fundamental problem is that decoding of that string /is/ possible on my install as json_decode() returns a stdObject with the apparently illegal string untouched, so testReadPackageFileFailsIfDecodingNotPossible() and testDecodeFailsIfNotUtf8() will fail.

I notice the test is skipped for Ubuntu. I'm on Debian so there's a good chance it's using the same PHP packages as Ubuntu. I

[2015-06-04 13:41] patternseek commented on #68
The only way I can see to check for that extension is it's mentioned in the output of php -i / phpinfo() in the modules section:
JSON-C headers version => 0.11.99
JSON-C library version => 0.11.99

Not sure if there's a neater way to get that information or not.

[2015-06-04 13:59] stof commented on #68
@webmozart the JSONC extension indeed does not validate UTF-8 encoding whne parsing, because the underlying library does not (see https://github.com/json-c/json-c/issues/122 and https://github.com/remicollet/pecl-json-c/issues/9).
Rather than detecting Ubuntu PHP builds, I suggest detecting the usage of the JSONC extension. the feature detection can be done through ``defined('JSON_C_VERSION')``

[2015-06-04 14:06] stof commented on #68
See https://github.com/webmozart/json/pull/3 for the first part

[2015-06-04 14:09] webmozart commented on #68
Thanks the both of you!

@patternseek Can you check whether @stof's change in webmozart/json#3 fixes this issue for you?

[2015-06-04 14:23] stof commented on #68
@webmozart I sent another PR fixing the puli/manager testsuite, which is the one needed by @patternseek (he would have got the same kind of issues when running the webmozart/json tests, but this is not what is reported here)

note that I can confirm this issue myself. I'm using ondrej's ppa for Ubuntu. So I still use JSONC for the JSON extension, but my PHP version does not have ubuntu in its name

[2015-06-04 14:23] webmozart commented on #68
Perfect, thanks @stof!

[2015-06-04 14:48] stof opened #74 "The Twig loader should implement Twig_ExistsLoaderInterface"
The Twig_ExistsLoaderInterface allows to optimize the chanin loader and implementing its method is mandatory for forward-compatibility with Twig 2.x (where the method will be moved to the Twig_LoaderInterface itself)

[2015-06-04 14:48] #68 closed

[2015-06-04 14:49] webmozart commented on #74
Thanks for opening this issue! Could you create a PR?

[2015-06-04 15:32] patternseek commented on #68
Yes webmozart/json#3 fixes the tests for me.

[2015-06-04 16:35] stof commented on #74
done

[2015-06-04 23:35] patternseek opened #75 "asset-plugin 1.0 and webmozart/expression required by current puli beta are incompatible"
DiscoveryAssetManager:186 references the obsolete Expr:valid():

return $this->findAssetMappings(Expr::valid());

[2015-06-05 00:35] amitumi225 opened #76 "{{{{@FINAL@}}}}Golden State Warriors vs Cleveland Cavaliers live 2015"
{{{{@FINAL@}}}}Golden State Warriors vs Cleveland Cavaliers live 2015. Finals 5-on-5: Cavs vs. Warriors ESPN‎ - 1 day ago Cavaliers vs. Warriors, NBA Finals 2015: Time, TV schedule and live stream for Game 1 SB Nation‎ - 7 hours ago More news for Golden State Warriors vs Cleveland Cavaliers live Watch Live NBA and Basketball Online |

===============================================================

[2015-06-05 09:31] webmozart commented on #75
Hi @patternseek! The Asset Plugin has been merged into puli/cli and puli/manager and is deprecated. You don't need to install the plugin anymore as of the latest beta.

I'm currently updating the documentation to reflect that.

[2015-06-05 09:31] #75 closed

[2015-06-05 09:32] patternseek commented on #75
Great thanks :)

[2015-06-09 15:48] patternseek commented on #75
Sorry to comment on a closed ticket but can you give me a brief overview of how to handle assets now? "puli asset" no longer works so I'm not sure where to go.

[2015-06-09 15:49] webmozart commented on #75
I just published the updated documentation :) http://docs.puli.io/en/latest/url-generator/introduction.html

[2015-06-09 15:52] patternseek commented on #75
Perfect thanks.

[2015-06-11 19:59] patternseek opened #77 "Path mapping gets very slow once a mapping contains a largee number of files."
Hi,
Me again sorry ;)

puli map can get really slow once a given mapping contains quite a few files. Here's an example when appending a small directory to a mapping that's already quite large:

[code]
This is just one of quite a few mappings I need to update periodically.

The problem is in SyncRepositoryPath::collectEnabledFilesystemPaths() which can end up getting called a *lot* with its recursi

[2015-06-12 08:28] webmozart commented on #77
Hi @patternseek, thank you for the report!

Did you try the latest dev version? This should have been fixed or at least improved in puli/manager#3.

[2015-06-12 10:14] patternseek commented on #77
Yeah this is after that optimisation is applied unfortunately.

[2015-06-12 10:23] webmozart commented on #77
Too bad :) Ok, I'll investigate this issue ASAP.

[2015-06-16 13:33] patternseek opened #78 "Puli build times out during composer install/update"
Hi,

If you have a large repository the build command can take more than 60 seconds so causes composer install and update to fail.

I created a PR to increase the timeout but I'm not sure if it slipped under your radar so I thought I'd create a ticket here.

Here's the PR: https://github.com/puli/composer-plugin/pull/12

[2015-06-18 16:30] webmozart commented on #78
Thanks for reporting this issue!

ref #77

[2015-06-22 14:00] DerStoffel opened #79 "puli.json in git project"
I am deploying a sf2 application with env=prod.
Since I use custom path-mappings in my puli.json this file is versioned along with the project.

Deploying sf2 in dev is no problem at all, and therefore the puli.json is often pushed to git with the packages used in dev mode. Hence, there are packages referenced only used in dev (also in SF AppKernel).

Now, I am deploying my sf2 app in prod environ

[2015-06-23 15:03] webmozart opened #80 "Implement PathMappingRepository"
At the moment, Puli uses the FilesystemRepository to mirror the resource repository on the filesystem. This repository works well on Unix, but has problems on Windows. Often, symbolic links are not supported on Windows. In that case, FilesystemRepository creates copies of the resources. Consequently, ``puli build`` needs to be called after every change to a file to update the copies - which clearl

[2015-06-23 15:20] webmozart commented on #79
Thanks @DerStoffel for reporting this issue! Currently, environments are not supported by Puli. A solution would be to add separate normal packages from dev packages in puli.json. `--dev` and `--no-dev` options could be added to all commands that need to know about the environment, for example:

[code]

What do you think?

[2015-06-23 17:15] tgalopin commented on #80
@webmozart Should we require or suggest https://github.com/webmozart/key-value-store in Composer for this repository to work? I would be in favor of suggesting it as the PathMapping repository is a useful but optionnal tool. What do you think?

[2015-06-23 17:54] DerStoffel commented on #79
Due to the familiarity from composer I'd love to see a possibility for exactly, what you describe. Some sort of "require-dev" or similar.

[2015-06-24 07:28] webmozart commented on #80
Yes, I think so too! Thanks @tgalopin :)

[2015-06-24 08:27] stedekay commented on #79
+1
This is a great idea!

[2015-06-25 12:02] tgalopin commented on #80
I finished the optimized path mapping repository (https://github.com/tgalopin/repository/tree/path-mapping) and make it fulfill the tests (https://travis-ci.org/tgalopin/repository).

I'm working on the classic version now.

[2015-06-25 17:05] webmozart opened #81 "Support "dev" packages in PackageManager"
Support for "dev" packages should be added to the `PackageManager` class of puli/manager (see #79). I had a brief look at this, and it seems that the following changes are necessary:

* add `InstallInfo::isDev()` method and a boolean `$dev` property that is injected in the constructor with default `false`
* add `$dev` parameter to `PackageManager::installPackage()` (+implementations) with a defaul

[2015-06-25 17:06] webmozart opened #82 "Support dev packages in Puli CLI"
Depends on: #81

dev packages should be supported in the Puli CLI:

*  a "--dev" option should be added to the "package --add" command that installs a package in dev mode
* dev packages should be separated from non-dev packages in the output of "package --list"

[code]

* the "%dev%" variable should be added to the "--format" option of the "package --list" command that prints true/false for dev/no

[2015-06-25 17:18] webmozart opened #83 "Pass package "dev" flag from Composer to Puli"
Depends on: #82

puli/composer-plugin should be altered to install all dev packages with "package install --dev". Additionally, "composer install --no-dev" should *not* remove dev packages from Puli. Dev packages remain installed and are only changed if running "composer install".

(for reference, packages are already marked as "not found" if they are installed but don't exist, so this shouldn't b

[2015-06-25 17:19] webmozart commented on #79
See #81, #82 and #83 for implementation ideas.

ping @niklongstone

[2015-06-25 18:55] niklongstone commented on #79
cool, I am oriented to try something common from the user perspective like --dev.
I will be back with some rough implementations soon.

[2015-06-26 11:04] webmozart commented on #79
@niklongstone The tickets need to be implemented in order, as one builds on top of the other. Looking forward to your PRs :)

[2015-06-26 12:04] #74 closed

[2015-06-26 12:15] webmozart commented on #54
@rejinka I just updated the ticket description to match the current state of Puli. Thanks for working on this! :)

[2015-06-26 12:21] #64 closed

[2015-06-26 12:21] webmozart commented on #64
The method was removed, the docs are updated now.

[2015-06-26 12:28] #71 closed

[2015-06-26 12:28] webmozart commented on #71
Thanks for the report @temp! :) Fixed now.

[2015-06-26 12:29] webmozart commented on #65
@WouterJ I currently don't have a Windows system at hand for fixing this. Could you investigate the issue?

[2015-06-26 12:30] webmozart commented on #7
Since Puli by now tries to integrate with frontend tools like Gulp, support for Assetic is not going to be continued.

[2015-06-26 12:30] #7 closed

[2015-06-26 12:30] webmozart commented on #43
Since Puli by now tries to integrate with frontend tools like Gulp, support for Assetic is not going to be continued.

[2015-06-26 12:30] #43 closed

[2015-06-27 15:29] WouterJ commented on #65
@webmozart sure. Do you want me to make Puli always return paths using `/` or should I fix the tests, to always compare with a string using the correct directory separator?

[2015-06-29 13:53] tgalopin commented on #80
What happen on the removal of a resource in the PathMappingRepository (without optmization)? Should we remove the file behind it or should we store somewhere that this resource shouldn't be accessible anymore (through this repository)?

[2015-07-01 08:25] pkruithof opened #84 "Puli install/build does not work in Sensiolabs Insight"
Log from Sensiolabs Insight when it tried to install dependencies:

[code]

Relevant composer.json lines:

[code]

All dependencies are up to date, on my dev-machine everything works fine, and the lock file is committed so it's using the same versions. Unfortunately I don't know too much about the setup at Insight, it's a rather black boxed environment. But maybe this rings a bell.

[2015-07-03 07:13] webmozart commented on #80
@tgalopin As I said before, `remove()` doesn't make much sense for the non-optimized repository. You can support `clear()` (which removes all mappings, but not the physical files), I think that's enough.

[2015-07-03 09:12] webmozart commented on #65
I think Puli should always return `/`, since PHP can deal with `/` on any system.

[2015-07-06 09:28] #65 closed

[2015-07-07 11:02] tgalopin commented on #80
I'm working on the development version of the PathMapping repo:

https://github.com/tgalopin/repository/blob/dev-path-mapping/src/PathMappingRepository.php

For the moment, I handle the resources in two different ways:
- the "virtual" resources (ressources added by `add()` and their parents) are stored in the store ;
- the "filesystem" resources (resources existing on the filesystem) aren't stored

[2015-07-08 14:27] niklongstone opened #85 "Fatal error after puli publish /myapp/public myserver"
From a clean directory just with the Puli CLI, If I require in composer only the `puli/composer-plugin` and I run CLI command to publish `web server` resources a fatal error appears:
`fatal: The type "puli/public-resource" does not exist.`

The error is solved just installing the `puli/url-generator` package.
Below step to reproduce the issue:
[code]

the solution is just run a composer.json like:

[2015-07-14 17:10] webmozart commented on #81
Fixed by puli/manager#5.

[2015-07-14 17:10] #81 closed

[2015-07-17 22:32] webmozart commented on #84
Thank you for reporting this issue @pkruithof! I can confirm this. Since "puli" is not installed on Insight, the command obviously fails. We'd need to install the puli.phar before. Any ideas?

[2015-07-17 22:37] webmozart opened #86 "Auto-enable bindings and remove state "undecided""
Bindings should be enabled by default, with the option to explicitly disable them.

The binding state "undecided" should be removed both from the manager and the CLI components.

[2015-07-18 09:52] webmozart opened #87 "Fix plugin loading for the PHAR"
Currently, when using the PHAR, plugins cannot be loaded. For example, let's add a plugin with the CLI:

[code]

This command adds the plugin class to the puli.json of the current project. When executing the PHAR after that, it will try to load and activate the plugin, but fail, since the autoloader of the PHAR includes the PHAR's classes only. This should be fixed. The autoloader of the PHAR shou

[2015-07-18 09:55] webmozart commented on #87
@helhum @skurfuerst Maybe one of you is interested to work on this?

[2015-07-18 11:13] pkruithof commented on #84
But since Puli is in my composer file, would it not be possible to just use `./bin/puli`?

[2015-07-18 11:34] webmozart commented on #84
Ah yes, that's possible of course :) I'm only talking about the case where Puli is installed as PHAR.

[2015-07-18 11:36] webmozart commented on #84
Ok, I think I understand your problem. You installed Puli as Composer dependency, the "puli" binary is placed in bin/ (which is declared in composer.json as "bin-dir", right?), but still it's not found on Insight. Is this correct?

[2015-07-18 17:11] pkruithof commented on #84
Yes that's correct.

For your first assumption the solution could be to download the phar in a `before_script` stage (I don't know the SI equivalent, but they have hooks like that). Maybe that would also work in this case but I assumed it should work with the dependency as well.

[2015-07-18 17:56] webmozart commented on #84
Is the repository in question public? Can you reproduce the problem on some public repository?

[2015-07-20 09:27] webmozart opened #88 "Move resource installer to Gulp Plugin"
The command `puli resource --install` and the installer-related functionality should be removed from Puli. Instead, this functionality should be provided by a Puli plugin for Gulp (e.g. puli/gulp-plugin). One idea to implement this is to generate a [Gulp configuration file](https://github.com/gulpjs/gulp/blob/master/docs/recipes/using-external-config-file.md) and use that in Gulpfile.js.

[2015-07-20 09:28] webmozart commented on #88
cc @kitsunet

[2015-07-20 09:41] webmozart opened #89 "Create ServiceLoader component"
A ServiceLoader component should be created that loads classes and objects similar to the Discovery component. I imagine the main interface to be something like this:

[code]

The interface with support for modification would look something like this:

[code]

While resource bindings support more features, namely a query language and binding parameters, I don't think we need those features for ser

[2015-07-20 09:49] webmozart opened #90 "Implement repository versioning"
At the moment, resource repositories don't remember the old resource when a resource is overwritten. For example:

[code]

If your application wants to retrieve *all* file system paths that were registered for a Puli path (mostly useful for merging overridden resources with the original ones, e.g. config files), that's not possible right now.

One generic way to solve this could be to add versions

[2015-07-20 09:50] webmozart commented on #90
cc @tgalopin @kitsunet

[2015-07-20 09:54] tgalopin commented on #90
I think I already have a lot to do for the moment (finish the current PRs and implement sort() in the repositories). If no one else works on it in a a week or two, I'll give it a try :) .

But thanks for the proposal!

[2015-07-20 12:30] #86 closed

[2015-07-20 12:35] webmozart commented on #86
See also puli/cli@588e383.

[2015-07-21 15:41] webmozart commented on #62
@temp This is probably what you have been asking on IRC? Could you add your use case here?

[2015-07-22 13:41] #77 closed

[2015-07-22 13:43] webmozart commented on #77
Largely improved by puli/manager@df5fcc56e3675ac8f5da26fac33f70e058cb9f0b, puli/manager@f68c550db474c7972249e5b13f23e38d703fd45f and puli/repository@ddd1b5274c379cb0e0279c00993a2a0ac37a91aa.

[2015-07-22 13:43] ccirello opened #91 "Support union mounts"
Is there any plans to make union mount? A la Plan9?

[2015-07-22 13:44] webmozart commented on #91
Thanks for reopening :) Yes, let's look at this post-1.0.

[2015-07-23 10:15] webmozart commented on #78
#77 is fixed now. Can you check whether the build command is sufficiently fast now for you?

[2015-07-23 10:26] webmozart commented on #79
I'm closing this as a duplicate of the other issues.

[2015-07-23 10:26] #79 closed

[2015-07-23 10:34] webmozart opened #92 "Fix Scrutinizer issues"
Scrutinizer's issues for the different Puli repositories should be fixed:

* https://scrutinizer-ci.com/g/puli/repository/issues/1.0
* https://scrutinizer-ci.com/g/puli/discovery/issues/master
* https://scrutinizer-ci.com/g/puli/url-generator/issues/master
* https://scrutinizer-ci.com/g/puli/manager/issues/master
* https://scrutinizer-ci.com/g/puli/cli/issues/master
* https://scrutinizer-ci.com/g/

[2015-07-23 14:45] funivan commented on #92
Hello. Fix some issues. I suggest you to install php-cs-fixer and configure it in each repository.
Also i will try to find some time to fix issues like

I have write some tools to refactor code from ` echo "user:$user" ` to ` echo "user:".$user `

[2015-07-23 16:09] webmozart commented on #92
@funivan Thanks for your suggestions! :) I'll look into it.

Interpolation is fine. I'll disable the corresponding Scrutinizer rule, if I can.

[2015-07-24 06:05] funivan commented on #92
@webmozart also disable check of variable length =)

[2015-07-24 06:55] webmozart commented on #92
@funivan Done already, thanks!

[2015-07-24 07:33] webmozart commented on #87
This was fixed in the referenced commits.

[2015-07-24 07:33] #87 closed

[2015-07-24 08:09] #59 closed

[2015-07-24 08:59] webmozart commented on #82
@niklongstone Do you want to work on this? :)

[2015-07-24 09:00] webmozart commented on #36
ping

[2015-07-24 10:04] niklongstone commented on #82
I am on it @webmozart :-)

[2015-07-24 15:35] WedgeSama opened #93 "Require puli/composer-plugin on windows"
I just add `"puli/composer-plugin": "^1.0@beta"` to the `composer.json` file, then run `composer update`. I got a weird output:

[code]
I find why. On Windows, the .bat file is run under php and not directly. So  it only print the file script content instand of print the result of the .bat exec.

After fix that, I got another error, due to Windows and its EOL. Change "\n" by PHP_EOL resolve this.

[2015-07-24 15:37] patternseek commented on #78
Is there a build with the changes on Packagist or do I need to manually install?

[2015-07-24 15:46] patternseek commented on #78
Never mind, found the dev branch on Packagist sorry.

[2015-07-24 15:53] patternseek commented on #78
❯ time puli build
noglob puli build  2.30s user 0.79s system 99% cpu 3.105 total

That's fantastic thanks so much! It was taking a little over a minute.

[2015-07-24 15:54] #78 closed

[2015-07-24 21:10] webmozart commented on #78
Great :) I'll work on improving it some more as 2.3 seconds is still a lot. But the major bottleneck seems to be fixed at least.

[2015-07-25 22:05] tgalopin commented on #90
I'll start to work on that. If I have questions, I'll ask here :) .

[2015-07-25 22:22] tgalopin commented on #90
Actually, I already have a few questions and proposals to validate :) .

To clarify how it should work: you can push multiple resources on the same path and retrieve them using a second argument of `get()` as a version number.

I have a few questions about what you have in mind:

**1. Remove**

How would the removal of a resource work? I think the best option would be:

[code]

**2. List children*

[2015-07-26 21:22] SenseException commented on #92
What's with the url-generator repository and `Url::makeRelative()` including the empty if? What's missing for the handling of `$currentUrl`?

[2015-07-27 07:22] webmozart commented on #92
@SenseException We need code to turn a URL into a relative URL. That is, something like:

[code]

I guess the best place to add this class is https://github.com/webmozart/path-util, as we can reuse the functionality of the `Path` class. Do you want to work on that?

[2015-07-27 21:25] SenseException commented on #92
@webmozart Sure, why not? I'll take a look at path-util for Url class first.

[2015-07-28 12:02] stedekay opened #94 "Missing config-key "bootstrap-file""
I am trying to run "composer update" of my Symfony application with the following puli relevant lines in composer.json:

[code]

I am getting the following error:

An error occurred while running: /usr/bin/php5 /usr/local/bin/puli config 'bootstrap-file' --parsed --no-ansi -vv (status 1): NoSuchConfigKeyException: The config key "bootstrap-file" does not exist.

I am using the puli.phar 1.0.0-beta

[2015-07-29 07:47] webmozart commented on #94
Thank you for reporting this issue @stedekay! The puli.phar 1.0.0-beta5 is not compatible with the latest dev version. The easiest fix is to require `puli/cli` in your project and use `vendor/bin/puli` for this project. If you do that, add `vendor/bin` to your path so that you can run simply `puli`:

[code]

Another fix is to set your minimum-stability to beta (not dev) so that the Puli deps are l

[2015-07-29 08:26] stedekay commented on #94
Thanks for your reply. Now its working again.

[2015-07-29 08:26] #94 closed

[2015-07-30 09:01] webmozart opened #95 "Implement Puli installer"
We need an installer script that installs the puli.phar on different systems. This installer script would look similar to [the one from Composer](https://github.com/composer/getcomposer.org/blob/master/web/installer).

Research needs to be done about what exactly the installer script needs to check and do, but I think we can work with an iterative approach: Implement something basic and add checks

[2015-07-30 09:03] webmozart commented on #95
cc @helhum @skurfuerst

[2015-07-30 09:18] webmozart commented on #90
Hi @tgalopin,

I don't have perfect answers to your questions - I simply don't know what the best approach is. I'll try though:

Since versions are ordered, I think it would be natural to use incrementing integers as versions. Otherwise each version would need to reference the previous version, which sounds overly complicated to me.

I don't know whether it's necessary to support passing specific

[2015-07-30 09:33] tmaroschik commented on #90
For me versions have a connection to a temporal dimension, which is not the case here. Resources that are overridden form a directed graph. So maybe this terminology fits better: "Resource Graph" or "Variants".

[2015-07-30 09:45] tmaroschik commented on #90
Regarding the implementation, Resources form a Stack (better naming than graph). The Resource with the stack number 0 is the currently resolved topmost Resource. Every overridden Resource gets it's stack index decremented by 1, so the next lower Resource in the stack would have the index -1.

Internally the Repositories would need to change their resource mapping from a one dimensional array to a

[2015-07-30 09:49] webmozart opened #96 "Add JSON migrations"
We need a mechanism to migrate puli.json files between different versions. The idea is that we can make BC breaking changes to puli.json that can easily be fixed in user projects. I don't want to do such changes anymore once 1.0 is released, but until then, such changes will be needed a few times. I would like to simplify upgrades for early adopters so that we get more feedback from real world pro

[2015-07-30 09:57] webmozart commented on #90
Actually, it is. If a resource is added for a path *after* another resource has already been added for that path, it will have the next higher version. So the temporal dimension is the time at which resources were added for a path.

I agree that nested arrays should be prevented if possible. Ideally, we'd have a repository that contains the latest version of each resource only so that reading is o

[2015-07-30 10:01] webmozart commented on #95
Here's the repository to work on: https://github.com/puli/puli.io

[2015-07-30 10:04] #80 closed

[2015-07-30 10:10] tmaroschik commented on #90
You're right. I thought about versions in regards to DDD where I would model a Resource as Aggregate Root and versions would relate to a different state in time of the same Resource. In this regard I would prefer the term Variant as it is another implementation of the same resource, not a state of the resource at a particular point in time.

Just keep the current Repositories exactly like they are

[2015-07-30 10:15] webmozart commented on #90
That's a very good idea! I like it. Still not convinced that "variant" is easier to understand for the typical end user. The different variants of a resource are ordered, with the last one having highest, the first one having lowest priority - since it's the oldest one. The term "version" implies exactly that. The term "variant", on the other hand, does not give any information about the relation

[2015-07-30 10:20] tmaroschik commented on #90
… Naming things is really the hardest task ;)

I fear that the term version is somehow occupied already by VCS. I could imagine also VCS repositories in puli where things could become ambiguous.

What do you think of "predecessors" ?

[2015-07-30 10:25] kitsunet commented on #90
Actually you are asking the repository for PreviousMappings on a given path, how about that?

[2015-07-30 10:26] kitsunet commented on #90
or more precisely you want "getAllMappingsFor($path)"

[2015-07-30 10:31] hason commented on #88
It would be great to provide a webpack loader or automatically register path aliases http://webpack.github.io/docs/configuration.html#resolve-alias

[2015-07-30 11:17] tgalopin commented on #90
I really like the idea of the Change Stream, I think it's the most elegant way to implement this version system

However I did not get how you could get all the "variants" from a resource? If I understood well, the Change Stream is an independant object, which is triggered on change of a resource, so it would be the storage object of all the resources versions wouldn't it? How could a resource acc

[2015-07-30 11:26] webmozart commented on #88
@hason Sounds like a good idea! Do you want to work on that? If yes, we should discuss this in a separate issue.

[2015-07-30 11:36] temp commented on #36
We talked about this some time ago, I removed some bindings on my side, but puli threw a warning because it didn't find them anymore. Maybe this has been resolved over the months? Otherweise I can provide a test case.

[2015-07-30 11:44] webmozart commented on #36
I don't think this has been resolved. It would be great if you could provide a test case and maybe even a fix? :)

[2015-07-30 13:11] temp commented on #36
Fishing for pull requests? ;-)
Will do if I find the time.

[2015-07-30 13:16] webmozart commented on #36
:heart_eyes_cat:

[2015-07-30 13:18] temp commented on #88
Any reason why you prefer gulp over grunt?

[2015-07-30 13:20] webmozart commented on #88
@temp I haven't used Grunt, but I was told that Gulp is easier to use. For Puli, I think we need plugins for most of the commonly used frontend tools (Gulp, Grunt, Brunch, others?).

[2015-07-30 13:29] temp commented on #88
We can help out with grunt, I guess ;-)
Don't know brunch. But now I'm hungry!

[2015-07-30 13:31] webmozart opened #97 "Add Grunt plugin for resource installation"
A Puli plugin should be implemented that uses Grunt for resource installation. This will replace the current `puli publish --install` command.

see #88

[2015-07-30 13:31] webmozart commented on #88
Cool :) see #97

[2015-07-30 15:41] tmaroschik commented on #90
You're missing a second object in this scenario, which is the resource stack. This one fetches the changes for the particular resource path from the change stream and creates the predecessor resource objects.

So API could be Resource->getStack(), which returns a ResourceStack, a special ResourceCollection, which also contains the current Resource. The resource stack object should be first created

[2015-07-31 13:17] niklongstone opened #98 "Twig Extension doesn't notify when the Url Generator is missing"
The issue occurs when you want to use the resource_url function in the Puli Twig Extension but you don't have the Url Generator installed.

If you want to use the Puli Twig extension without injecting the Url Generator no exception is thrown.

Line affected is [PuliExtension.php:101](https://github.com/puli/twig-extension/blob/master/src/PuliExtension.php):
[code]

Code snippet to reproduce the is

[2015-08-02 21:01] SenseException commented on #92
@webmozart In case of questions to a current code state, what kind of communication should be preferred? E-Mail? Issue in the forked repository's branch?

[2015-08-03 08:45] webmozart commented on #92
@SenseException The quickest option is to go to #puliphp on Freenode IRC :) Otherwise you can open a new issue with your question.

[2015-08-03 09:47] tgalopin commented on #90
Okay, i tihnk I got it now. I'll start to work on that and send a PR for it so we can continue to discuss.

[2015-08-06 09:52] WedgeSama opened #99 "Fix Windows symlink time information"
On Windows, symlink does not work like on Unix, the OS think it is a real file like another. So for time operations, it only see changes on the symlink file and not the original one. That mean fileXtime functions get info about the symlink file too.

So if you make some changes in the original file, Puli will not seen anything if this file is register in the repository as a symlink. It work as esp

[2015-08-07 07:59] mnapoli commented on #98
Hi, what is the problem? I'm asking because I'm currently using it without the URL generator too but I don't see any problem (though I admit I have only a basic usage for now). So if no exception is thrown, what is the issue?

[2015-08-07 08:02] webmozart commented on #98
@mnapoli I think the problem is that the `resource_url()` function is not available, but it's hard for the user to find out why. I think it's safe to make the URL generator a mandatory dependency, since most people will need that function. What do you think?

[2015-08-07 08:46] niklongstone commented on #98
@mnapoli the issue occurs when you want to use the `resource_url` function in the Puli Twig Extension but you don't have the Url Generator installed.

I will edit the issue to make it clear.

Because of this direct dependency. I think it worth at least having an exception to notify the user or  having a "mandatory dependency".

[2015-08-07 09:01] mnapoli commented on #98
Thanks for explaining. Making it mandatory is an option but how about throwing an exception? For example:

As a user, it feels clear enough.

In my use case I currently don't have a URL generator (because I'm just getting started). I'm not sure whether the URL generator is a central part of Puli (haven't used it yet, but will probably soon)? If it is, then indeed it's better to require it.

[2015-08-10 15:25] mnapoli opened #100 "Add a PuliFactory interface"
The `GeneratedPuliFactory` doesn't implement any interface, making it impossible to type-hint it in our code (since it's an auto-generated class).

For example I'd like to be able to type-hint the PuliFactory interface so that PhpStorm will autocomplete and validate method calls like this:

[code]

Thoughts?

[2015-08-10 16:46] mnapoli opened #101 "Assets in public directory or not?"
In the documentation you mention putting the assets (CSS, JS, …) in a `public/` directory.

Then your examples involve publishing the `public/` directory in a `public_html/` directory. Do you recommend not exposing the `public` directory directly?

If that's the case, why not? And do you recommend exposing everything (e.g. `index.php`) as a resource/symlink too? Or just assets?

[2015-08-12 10:38] webmozart commented on #99
Fixed in puli/repository#37.

[2015-08-12 10:38] #99 closed

[2015-08-12 10:41] webmozart commented on #100
This interface used to exist: https://github.com/puli/factory

The problem was, however, that the Puli factory is very modular. Both the core and plugins can add their own methods to the factory. Hence you'd need a factory class for every kind of object you want to create (`Puli\Repository\RepositoryFactory`, `Puli\Discovery\DiscoveryFactory`, ...) which I found a bit overkill given that you only

[2015-08-12 10:43] webmozart commented on #101
Could it be you are confusing the public directory in a package and the document root of a web server? Each package has its own `public` directory which is copied to the document root (`public_html`, ...).

What can we do to explain this better in the docs?

[2015-08-12 11:09] mnapoli commented on #101
Ah OK I see what you mean. Currently I'm having both the use case of a package (so indeed `res/public` is **not** the document root) and of an application (which uses packages). I'm writing (or rather playing with) a module system, so I need to consider the end user POV too (i.e. how they should write their app).

Maybe Puli is mostly meant at helping for packages. I just wanted to use Puli everyw

[2015-08-12 11:17] webmozart commented on #101
Your app's assets should be put to `res/public` and mapped to the docroot of the server with `$ puli publish`. So yes, your app's assets are just like any other package's assets.

The steps are:

1. Put your app's assets into `res/public`
2. Publish your app's public directory to the server (`puli publish /app/public localhost`)
3. Publish your packages' public directories to the server (`puli pub

[2015-08-12 11:26] mnapoli commented on #101
OK awesome that's exactly the answer I was looking for :) Thank you!

Just a quick feedback while I got your attention :) Puli is incredibly awesome. Only problems I see for now:

- to set it up means understanding it completely, which honestly is hard (the docs are very complete, I have no idea/advice on how to improve that yet but will suggest anything I can think of to help)
- to see the full b

[2015-08-12 11:26] #101 closed

[2015-08-12 11:27] webmozart commented on #101
Thanks for the feedback :) I agree with your points. The ultimate goal is to have it set up out of the box in most major projects/frameworks so that the end user primarily needs to care about Puli's usage, not so much about how it works.

[2015-08-13 08:39] temp opened #102 "Problems on windows"
* A puli.BAT wrapper is installed in bin on Windows systems. The PuliRunner has an exception for this, and removes the prefix php binary, but checks for ".bat", not ".BAT".
* PuliPlugin::loadPuliPackages() calls "package --list --format %name%,..." on the puliRunner, but this produces a non-parsable output on windows systems.
Expected is
[code]
but the output is
[code]
* PuliPlugin::installNewPack

[2015-08-13 08:43] webmozart commented on #102
Thanks for the report! Do you want to work on a fix?

[2015-08-13 10:06] temp commented on #102
Point 1+2 are fairly easy, yes. But point 3 goes too deep, I don't know where all the path mappings are done.

[2015-08-13 10:08] temp commented on #102
Which leads to the next points, after doing a quick fix for the above problems, it showed that puli doesn't work at all on windows, with the current version.
We tried to debug, but it's somewhere deep in the path mappings.
In the repo slashes and backslashes are mixed, like "C:/path/to/resources\", and after that all comparisons break. We tried to fix this, but failed.

[2015-08-13 10:21] temp commented on #102
Reproduce:

1. mkdir res
2. touch res/test.txt
3. puli.phar map res res
4. puli.phar find --name *.txt

Result:
empty ;-)

[2015-08-13 10:30] temp commented on #102
Same with the prior version of puli:

[code]

[2015-08-13 10:30] webmozart commented on #102
Which version are you using?

[2015-08-13 10:31] temp commented on #102
[code]

[2015-08-13 10:32] temp commented on #102
On my mac, everything works fine. Here at my colleagues windows machine, everything breaks ;-)

[2015-08-13 12:15] temp opened #103 "Unit tests for composer-plugin are broken on Mac."
I guess it's some path problems...

[code]

[2015-08-14 10:57] webmozart commented on #103
Thank you for reporting this bug @temp! Are you able to fix this?

[2015-08-14 11:25] temp commented on #103
Will try. Have you got an idea why he has a problem with the value in <comment>? Suprises me to see a path there.

[2015-08-14 11:50] temp commented on #103
Found the problem, just change sys_get_temp_dir() to realpath(sys_get_temp_dir()) in PuliPluginTest::setUp(), first line.

[2015-08-14 13:30] #103 closed

[2015-08-14 13:30] webmozart commented on #103
This should be fixed now.

[2015-08-14 16:19] temp commented on #102
Point 3 was fixed by a commit from @webmozart

[2015-08-14 16:21] temp commented on #102
@webmozart Point 4 is also fixed! It was the simply the first Path::normalize() we added to PathMappingRepository::getFilesystemResourceChildren().
But I guess other repositories also have the problem...

[2015-08-17 13:58] SenseException commented on #92
@webmozart First step to fix https://scrutinizer-ci.com/g/puli/url-generator/issues/master as a PR for webmozart/path-util.

[2015-08-17 21:53] tgalopin commented on #90
It's been a while now as I have quite a lot of work for the moment but I'm still planning to work on this. Please don't hesitate to start something and I'll give a hand :) .

[2015-08-18 10:30] temp opened #104 "Override does not work with repository type path-mapping."
We have a package that’s installed via composer.
It defines a resource path, and our root package overrides this.
Puli should now merge both resource dirs, and override files from the subpackage with files from the root package.
But this doesn't work for the path-mapping repository, filesystem repository works fine.

[2015-08-18 13:43] webmozart commented on #104
cc @tgalopin

[2015-08-18 14:03] tgalopin commented on #104
I'm trying to understand the problem and whyit wasn't catched by the tests. Can I discuss it with you on Gitter @temp ?

[2015-08-18 18:50] webmozart opened #105 "Support deletion in PathMappingRepository"
The `PathMappingRepository` should support deletion of existing mappings. For example, if `/app` is mapped to `res`, it should be possible to delete this mapping:

[code]

cc @tgalopin

[2015-08-18 19:14] tgalopin commented on #105
Can you assign this, https://github.com/puli/issues/issues/105 and https://github.com/puli/issues/issues/90 to me so I can retrieve them easily? I'll work on these as soon as possible.

This one seems quite easy, I'll work on it this night.

[2015-08-18 19:15] webmozart commented on #105
I can only assign organization members. So if you accept my invitation, I can assign you :)

[2015-08-18 19:17] tgalopin commented on #105
Well, okay :D . Thanks!

[2015-08-18 20:04] tgalopin commented on #104
Can you assign me this one as well please @webmozart ?

[2015-08-18 22:38] webmozart commented on #104
You should now be able to assign tickets yourself.

[2015-08-18 23:14] mickaelandrieu opened #106 "Issues with Images scaling on PDF documentation"
According to readthedocs docs (lol), the solution is to add PIL as a requirements:

But: I don't know what is PIL, and no others docs on readthedocs talk about it.

What do you think ?

[2015-08-19 00:02] patternseek commented on #104
I've just had a very similar issue pop-up which I'll bet is the same problem. As mentioned on Gitter if I have two or more physical paths mapped to a logical path they're not merged, the last one in puli.json wins.

puli.json excerpt:
[code]
"puli map" output excerpt:
[code]

[code]

[2015-08-19 06:09] temp commented on #93
This should be resolved with PR puli/composer-plugin#18, as stated in #102.

[2015-08-19 06:25] temp commented on #62
I need to find a specific file in a binding, right now I'm doing this:
[code]
But I'd like to simple do
[code]
Like "puli find --type my/type --name whatever.xml" or "puli find --type my/type --path */whatever.xml"

[2015-08-19 06:46] #93 closed

[2015-08-19 07:50] webmozart commented on #106
Hi! Could it be you posted this on the wrong issue tracker? :)

[2015-08-19 08:01] mickaelandrieu commented on #106
I don't think so: rendering of some images of the pdf generated of docs.puli.io have issues.

Or maybe docs issues have to be reported in another place?

[2015-08-19 08:03] webmozart commented on #106
Oh I see, you didn't mention docs.puli.io ;) Could you describe what exactly your problem is?

[2015-08-19 08:31] mickaelandrieu commented on #106
@webmozart yes, for instance the first page with the puli logo is totaly broken: the logo seems to be outside the page (in pdf rendering).

The first schema (Resources discovery) is very big in pdf rendering compared to the web rendering of this data.

Sounds like a problem with images scaling, correct ?

I have update the issue label ;)

[2015-08-19 11:00] tgalopin commented on #104
Thanks for your input @patternseek, I'm trying to reproduce the problem and create a test covering this case.

[2015-08-19 13:20] webmozart commented on #106
Ah, you're talking about the PDF. Sorry, I didn't get that. :)

[2015-08-19 15:34] webmozart opened #107 "Implement LinkResource"
A new resource type LinkResource should be supported by all repositories. The idea is something like this:

[code]

The difference to using a FileResource is that with LinkResource, relative paths would remain functional. For example, if we do:

[code]

then a relative path in the file would be resolved relative to `/acme/blog/views/layout.html.twig`, and not `/app/views/layout.html.twig`, as expe

[2015-08-19 15:43] tgalopin commented on #107
What's the milestone of this?

[2015-08-19 15:44] webmozart commented on #107
Updated. This needs to be in 1.0.

[2015-08-19 15:44] webmozart commented on #107
Without this feature, resource overriding is a bit useless.

[2015-08-20 12:19] stof opened #108 "PuliCssUtils in the Assetic extension has many undefined variables"
See https://scrutinizer-ci.com/g/puli/assetic-extension/issues/master/files/src/Util/PuliCssUtils.php?selectedLabels[0]=9&orderField=path&order=asc

[2015-08-20 12:23] stof opened #109 "Scrutinizer should be configured to fail when new issues are introduced for some labels"
Here are the failure conditions I'm using in Mink:

[code]

the coding-style probably does not make sense as you use styleci for CS checks though, but others make sense (they could need some adjustments of course)

[2015-08-20 12:31] stof opened #110 "All packages should be tested against their lowest dependencies on Travis"
This will allow finding issues with lower constraint bounds

[2015-08-20 18:15] tgalopin commented on #110
I completely agree with this.

I did it for the puli/repository and it showed that there is a problem with the current dependencies: https://github.com/puli/repository/pull/42.

[2015-08-20 18:25] tgalopin commented on #110
Given the amount of errors detected, I think it's a great idea :) .

[2015-08-20 19:15] webmozart commented on #110
Woa you guys rock :)

[2015-08-20 20:56] tgalopin commented on #108
I think the assetic extension is not maintained anymore, is it @webmozart ?

[2015-08-20 21:52] webmozart commented on #108
That's correct.

[2015-08-20 21:52] #108 closed

[2015-08-20 21:55] webmozart commented on #109
That's more or less what I'm using at the moment, although with slightly adjusted values:

[code]

[2015-08-21 08:05] webmozart commented on #109
I guess I can close this.

[2015-08-21 08:05] #109 closed

[2015-08-21 08:38] stof commented on #109
Well, I guess that this was added after the broken code was added in AsseticExtension: https://github.com/puli/issues/issues/108

[2015-08-21 08:39] stof commented on #108
I suggest updating the readme of the package to tell it is abandonned (the repo description says it, but it is less visible)

[2015-08-21 08:43] stof commented on #110
@tgalopin I made some comments in the twig-extension PR. Please take them into account for all packages

[2015-08-21 12:57] tgalopin commented on #110
I'll, thanks!

[2015-08-21 19:16] webmozart opened #111 "Replace TestUtil by class from webmozart/glob"
The TestUtil class will be added to webmozart/glob in the 3.1 release. This class should be used instead of the one in the Repository component, which should be deleted.

[2015-08-21 19:35] webmozart commented on #108
@stof done, good suggestion!

[2015-08-21 19:35] webmozart commented on #109
That could well be. :)

[2015-08-21 21:46] webmozart commented on #102
The FilesystemRepository tests were fixed on Windows in puli/repository#44. A few PathMappingRepository tests remain broken, but @tgalopin is working on that. :)

[2015-08-22 11:22] webmozart commented on #111
I fixed this in the Repository, Manager, CLI and Composer Plugin.

[2015-08-22 11:22] #111 closed

[2015-08-22 20:58] tgalopin commented on #104
@patternseek @temp I have worked on this issue and it might be solved. However, I don't have the same context as you, so I might have missed something. Can you test https://github.com/puli/repository/pull/40 in local and tell me if it works? I fixed various things and added a test for your issues.

[2015-08-23 18:43] webmozart commented on #82
Implemented in 7d8d05d2f5b35297e3c3f4d5d29a694dc7618be9 and 8706397c35fe2edfdd21b39862775335986d5494.

[2015-08-23 18:43] #82 closed

[2015-08-24 10:04] #83 closed

[2015-08-24 10:19] webmozart commented on #79
This is fixed now. :)

[2015-08-24 16:27] webmozart commented on #110
This is fixed now. :)

[2015-08-24 16:27] #110 closed

[2015-08-24 16:32] webmozart commented on #105
Fixed in puli/repository#46

[2015-08-24 16:33] webmozart commented on #104
Fixed in puli/repository#46

[2015-08-24 16:33] webmozart commented on #102
The last Windows issues are fixed in puli/repository#46.

[2015-08-24 16:33] #104 closed

[2015-08-24 16:34] #105 closed

[2015-08-24 16:42] #102 closed

[2015-08-24 17:55] webmozart commented on #100
What do you think @mnapoli?

[2015-08-24 19:11] tgalopin opened #112 "Fix tests on Windows"
I ran the tests of all Puli packages under Windows (8.1) to find the issues.

I wrote a PHP script to install all the packages and another one to update them. You can
use them to test in your context easily: https://gist.github.com/tgalopin/7c73922bc060b0685900.

Here are the results:

| Package                   | Status |
|---------------------------|--------|
| [puli/cli](https://github.com/pul

[2015-08-24 19:13] webmozart commented on #112
Thanks :) Here is an attempt at fixing the CLIi: puli/cli#9

[2015-08-24 22:24] webmozart commented on #84
This should be fixed in 1.0.0-beta7.

[2015-08-24 22:24] #84 closed

[2015-08-25 06:39] mnapoli commented on #100
Hey sorry :) I think this issue can be closed for now and maybe revisited later. I suspect it could be a problem for some other people, but it's probably not worth spending time on it if it's just me for now, and if it's just an autocompletion/IDE validation issue.

[2015-08-25 06:39] #100 closed

[2015-08-25 07:42] temp commented on #112
Additionally, webmozart/json:
Fails, https://gist.github.com/temp/a739c64176615ef880a5

[2015-08-25 08:03] webmozart opened #113 "Path-mapping repo does not find resources"
When checking out https://github.com/puli/symfony-bundle and running `puli tree` with the default path-mapping repository, the command fails with the following output:

[code]

[2015-08-25 09:42] tgalopin commented on #113
Is it a problem of the repository or of the bundle ?

[2015-08-25 11:04] webmozart commented on #113
Of the repository. This works for FilesystemRepository and OptimizedPathMappingRepository.

[2015-08-25 11:53] webmozart opened #114 "Support Class Discovery"
The Discovery component should be extended to support discovery of PHP classes. This includes various changes:

* The `ResourceDiscovery` interface should be agnostic of resources. A new interface `Binding` should be introduced: `bind($glob, $type)` then becomes `addBinding(Binding $binding)`. `ResourceBinding` will be an implementation/sub-interface of `Binding`. Equally, there'll be a `ClassBind

[2015-08-25 11:53] webmozart commented on #89
replaced by #114

[2015-08-25 11:53] #89 closed

[2015-08-25 11:53] webmozart commented on #62
replaced by #114

[2015-08-25 11:53] #62 closed

[2015-08-25 12:03] stof commented on #114
should instantiating an object really be the responsibility of the ClassBinding ? this looks weird to me

[2015-08-25 12:05] webmozart commented on #114
@stof This would be just a convenience mechanism, like `getResources()` on ResourceBinding. The 90% use case for me is to bind classes with no-arg constructors to bootstrap the application, like Symfony's Bundle classes.

[2015-08-25 12:12] tmaroschik commented on #114
Two notes on that:
* instead of custom annotation tags, maybe use namespaced doctrine/annotions style annotations. those collide less with different frameworks
* did you consider implementing `\ArrayAccess` and `\Iterator` for the different interfaces? Because those feel to me much like typed collections, and collections are accessed very easily by those built in interfaces

[2015-08-25 12:14] webmozart commented on #114
@tmaroschik Of course we should use namespaced Doctrine annotations. I just left out the use statements for simplicity.

In the above example, non of the classes semantically is a collection (we have services and domain objects), so I don't think those interfaces make sense here.

[2015-08-25 12:21] tmaroschik commented on #114
@webmozart ok. It just looked to me like a "bag" for parameters or binding types

Further, consider the performance impact of loading & parsing more distinct classes/interfaces. During my research upon improving the performance of TYPO3 one of the results was that you cannot optimize class loading any further, and the only way to speed things up is to reduce IO. Class Loading is also IO, even when

[2015-08-25 12:29] webmozart commented on #114
@tmaroschik Thanks for the input! In production, the Discovery mechanism would ideally not be run at all, or if necessary then with an optimized ResourceDiscovery object that requires a minimum amount of code and classes. We take a similar approach with the Repository component.

[2015-08-25 12:30] tgalopin commented on #88
I'll try to work on the Gulp one, but I never wrote such plugin so I'll have to learn a lot before being able to propose something useful :) . If someone more experienced is motivated to start something, I am very open to give a hand!

[2015-08-25 14:20] WouterJ commented on #88
Feel free to ping me if you need help, @tgalopin

[2015-08-25 14:28] tgalopin commented on #88
I'll, thanks @WouterJ!

[2015-08-25 16:56] felixkiss commented on #88
@webmozart [broccoli.js](https://github.com/broccolijs/broccoli) is another one.

[2015-08-27 15:26] mnapoli commented on #94
Same here, just FYI for people running into this: updating the phar to beta7 (or above) fixes the problem.

[2015-08-28 10:19] stof commented on #112
@webmozart what do you think about using AppVeyor to run tests on Windows ? You can look at the Symfony 2.3 branch for a setup (you can simplify the handling of PHPUnit by just downloading the phar though, as you are not affected by the fact that the phar contains the Yaml component, unlike symfony)

[2015-08-28 10:21] webmozart commented on #112
@stof A lot! In fact, I already enabled it for puli/repository. As soon as someone submits a PR with an appveyor.yml this should be working already.

[2015-08-28 10:22] stof commented on #112
@webmozart the issue with this is that it will mark all PRs as failing until a config file is added...

[2015-08-28 10:23] webmozart commented on #112
@stof no, I disabled AppVeyor for all branches without appveyor.yml

[2015-08-28 10:26] stof commented on #96
another thing to add in basic idea: the puli command should fail if the puli.json contains an unsupported version (particularly useful in case your own puli version is older than the puli version used to generate the file)

[2015-08-28 10:27] webmozart commented on #96
@stof that's already the case :)

[2015-08-28 10:28] stof commented on #112
ah, better than what was done on the Symfony repository...

[2015-08-28 10:29] webmozart opened #115 "CI on Windows"
I enabled [AppVeyor](http://www.appveyor.com) on the [puli/repository](/puli/repository) repository. What we need now is an `appveyor.yml` that configures that tool correctly.

[Here's the reference](http://www.appveyor.com/docs/appveyor-yml), PR welcome. :) The PR can be used to test the configuration since AppVeyor should automatically run as soon as it detects a PR with an `appveyor.yml` file.

[2015-08-28 10:30] webmozart commented on #112
see #115

[2015-08-28 10:33] stof commented on #115
See https://github.com/symfony/symfony/blob/2.3/appveyor.yml for an example config used in Symfony (the PHPUnit setup should be changed though as Symfony had to do some special things)

[2015-08-28 11:52] webmozart commented on #113
You can temporarily fix this problem by switching back to the FilesystemRepository:

[code]

Once this issue is resolved, you'll be able to switch back with

[code]

[2015-08-28 11:56] webmozart opened #116 "Restrict repositories to base directory"
All repository implementation should receive a base directory (like FilesystemRepository) in the constructor. Resource adding should be restricted to files within that directory for security reasons.

[2015-08-28 11:57] webmozart opened #117 "Store relative paths in path mapping repositories"
The path mapping repositories should store paths relative to the root directory instead of absolute system paths in order to facilitate portability. Depends on #116.

[2015-08-28 12:10] mnapoli commented on #117
:+1: thank you for creating the issue. Detailing some use cases that break today because of absolute paths:

- `composer install`/`puli` is run on the host OS, and the application is run on a VM/container (Vagrant, Docker, etc.) where the paths are different
- the application is built on a system (e.g. in CI), and then the result is deployed in production (different paths)
- the application is cop

[2015-08-28 12:12] tgalopin commented on #117
That's a really good idea. Should I try to keep compatibility with pre beta 8 ?

[2015-08-28 21:02] webmozart commented on #117
@tgalopin I don't think that's necessary

[2015-09-14 10:16] mnapoli opened #118 "Puli.json is hard to read and prone to change"
Hi, let me explain on the issue title that isn't very clear: after using Puli a little, `puli.json` is a bit of a small annoyance. It behaves more like `composer.lock` than `composer.json`: the `packages` entry is very large and contains one entry per composer dependency (even sub-dependencies of the one we require).

That has the consequences of:

- making it hard to read and understand (which fo

[2015-09-20 18:45] aschempp commented on #115
We just recently added that to Contao CMS: https://github.com/contao/core-bundle/blob/master/appveyor.yml

Maybe @leofeyer can help?

[2015-09-21 10:35] EmanueleMinotto opened #119 "Resource will be a reserved keyword"
Quoting Style CI:

Ref: https://twitter.com/TeamStyleCI/status/645906122524753920 & https://wiki.php.net/rfc/reserve_even_more_types_in_php_7

This could be a problem for `Puli\Repository\Api\Resource\Resource`, should it be renamed?

[2015-09-21 12:46] tgalopin commented on #119
It does not seem to be a problem: https://travis-ci.org/puli/repository/jobs/80213636. Is it something not yet present in the PHP7 nightly of Travis?

[2015-09-21 13:25] webmozart commented on #115
Help is greatly appreciated!

[2015-09-21 13:42] leofeyer commented on #115
The [Contao appveyor.yml](https://github.com/contao/core-bundle/blob/master/appveyor.yml) file is pretty straightforward. It uses Chocolatey (`cinst`) to install OpenSSL and PHP and then loads Composer to install the dependencies.

The [Symfony appveyor.yml](https://github.com/symfony/symfony/blob/2.3/appveyor.yml) is a bit more complex, mainly because they handle the case that `C:\php` exists – w

[2015-09-21 13:44] leofeyer commented on #115
Probably something like this:

[code]

[2015-09-21 15:48] EmanueleMinotto commented on #119
I didn't investigate yet. Could it be a big BC?
Anyway this problem could be ignored until the release of puli (imo).

[2015-09-23 07:05] tgalopin commented on #119
It is definitely a problem for StyleCI, but we can disable the phpdoc_types fixer to ignore it. Would it be fine for you @webmozart ?

[2015-09-23 07:08] tgalopin commented on #107
I think I'm missing something with this feature. Can you describe how it would work a bit more (on Gitter if you want) ? I don't get what you want to do with this.

[2015-09-23 07:36] webmozart commented on #107
Technically, LinkResource really just stores the path of another resource. It's a reference to that resource, like links on the filesystem.

Imagine the following Twig template:

[code]

Let's add this template to a repository:

[code]

This template will look for `/app/images/logo.png`, which is fine.

Now imagine we want to use this template to override another template, like `/blog/views/layout

[2015-09-23 08:31] tgalopin commented on #107
I think I got it. I'll try to do that. Thanks!

[2015-09-23 08:34] tgalopin commented on #113
This is linked to https://github.com/puli/repository/pull/48. I'll fix both of them at the same time.

[2015-09-23 14:30] webmozart commented on #119
Yes, let's do that for now.

[2015-09-24 22:27] tgalopin commented on #115
I started to work on an appveyor.yml file here: https://github.com/puli/repository/pull/53.

There is a memory issue with it, we have to fix it before copying the file to other repositories IMO.

[2015-09-24 22:29] tgalopin commented on #112
I started working on the Appveyor integration, this issue will be easier to work on once it will be done.

[2015-09-24 22:54] tgalopin commented on #88
@mickaelandrieu started to work on this here: https://github.com/puli/gulp-plugin.

[2015-09-25 00:17] tgalopin commented on #90
Work in progress here: https://github.com/puli/repository/pull/54.

[2015-09-25 05:42] #113 closed

[2015-09-25 09:20] webmozart commented on #116
We tried implementing this in puli/repository#49. However, this adds a lot of duplicated logic. I think a better solution to this problem is a kind of OpenBaseDirDecorator that restricts added files to a given directory. I don't think we need to add this to core though.

[2015-09-25 09:20] #116 closed

[2015-09-25 12:21] webmozart opened #120 "Composer plugin should automatically set "bootstrap-file" config key"
To enable class autoloading of plugins in Puli, the user needs to run the following command first:

[code]

We can automate this. The Composer plugin should set this option to the autoload file configured in Composer by default, unless a custom value is set.

[2015-09-26 12:09] webmozart commented on #120
Fixed by puli/composer-plugin@bc7512a3cbe49ab9e28e6d80bfd98f2dd28e7e08.

[2015-09-26 12:09] #120 closed

[2015-09-26 12:48] #107 closed

[2015-09-26 12:50] webmozart commented on #61
This is actually not a Puli issue anymore but an issue of the webmozart/console component.

[2015-09-26 12:50] #61 closed

[2015-09-26 13:42] webmozart commented on #115
The Repository PR was merged now. Time to do the same for all other repositories!

[2015-09-26 14:02] #98 closed

[2015-09-26 21:39] mmoreram commented on #115
LOL, I was checking now the issue and the PR is already done and closed?
I was too late then :(

[2015-09-26 22:03] stof commented on #115
@mmoreram the work was done today by @tgalopin

[2015-09-26 23:00] mmoreram commented on #115
I see! Well, happy to see that these PR are being accepted and all these Issue resolved.
@webmozart my apologies for not closing this issue :(

[2015-09-26 23:04] tgalopin commented on #115
I'm sorry if you started to work on this @mmoreram :/ . I didn't know that.

[2015-09-26 23:08] mmoreram commented on #115
@tgalopin Don't worry, I just started some investigations 2 days ago but Elcodi is too much for me ATM :( Anyway, thanks for your work man :dancer:

[2015-09-26 23:09] stof commented on #115
@mmoreram as you have not posted any comment, there was no way to know you started though.

And don't worry. there is still windows-related work on some of the packages: making the test pass

[2015-09-29 07:36] webmozart commented on #115
Thanks everyone :) No worries @mmoreram, as @stof said we still need to fix the Windows tests. Help if you like :)

[2015-09-29 07:51] #115 closed

[2015-09-29 12:40] stof commented on #119
``resource`` does not trigger an error in PHP 7, but they document that it should be considered reserved for future use: http://php.net/manual/en/migration70.incompatible.php#migration70.incompatible.other.classes
This is why StyleCI is complaining.

Given that renaming it in Puli is a BC break, it would be better to do it before reaching 1.0 instead of facing the need for a BC break later on if P

[2015-09-29 14:55] temp opened #121 "Directory Resource issues with path-mapping repository"
Create testcase:
[code]

With path-mapping repository:
[code]

With filesystem repository:
[code]

[2015-09-29 21:55] tgalopin commented on #121
Hi @temp,

It's working by me but I suspect that the fix for https://github.com/puli/issues/issues/113 solved your problem too. I fixed it in https://github.com/puli/repository/pull/51, which will be included in beta8 (soon to be released). Can you check with the lastest version of the repository if you still have the problem?

Thanks by advance!

[2015-09-30 09:33] webmozart commented on #119
Any suggestion for a good name? `PuliResource`?

[2015-09-30 09:51] EmanueleMinotto commented on #119
`PuliResource` :+1:

[2015-09-30 10:52] webmozart commented on #114
The other Puli repositories still need to be fixed to work with the new API. That's probably:

* UrlGenerator
* Manager
* CLI

[2015-09-30 16:00] webmozart commented on #112
All repositories are tested on AppVeyor now. The failing test results are linked above, feel free to work on fixes everyone. :)

[2015-10-01 09:42] webmozart opened #122 "Upgrade to ramsey/uuid 3.0"
All packages that use ramsey/uuid should be upgraded to version 3.0. The upgrade should be simple - the main change was in the namespace of the classes in the package which changed from Rhuumsa to Ramsey.

[2015-10-01 11:24] BenoitLeveque commented on #122
i think, i can do it

[2015-10-01 11:42] webmozart commented on #122
@BenoitLeveque That would be awesome! :) The best is if you search the composer.json files in all [github.com/puli](/puli) repositories for those that reference that package.

[2015-10-01 15:28] #114 closed

[2015-10-01 16:46] BenoitLeveque commented on #122
@webmozart ramsey/uuid require php 5.4, but we still use php 5.3 inside the .travis.yml file.

it's ok to remove php 5.3 from the travis build?

[2015-10-01 17:44] webmozart commented on #122
No, we need to support 5.3. Damn. Closing then.

[2015-10-01 17:44] #122 closed

[2015-10-02 08:36] #96 closed

[2015-10-02 09:29] temp commented on #121
Works, tested with current repository. Thanks!

[2015-10-02 09:29] #121 closed

[2015-10-02 09:30] webmozart commented on #121
Awesome, thanks  @temp! :)

[2015-10-02 14:06] webmozart opened #123 "Add links through the CLI"
Currently, it's not possible to add `LinkResource` objects to the repository through the CLI. This should be added.

Steps:

- [ ] Support links in the Manager
- [ ] Support links in the CLI

[2015-10-02 15:29] webmozart commented on #118
Hi @mnapoli :) If Puli relied on composer.json/composer.lock, there would be a lot of additional parsing going on every time you fire the puli command. Also, Puli would be directly coupled to Composer and break if Composer changed its file format or PHP API. Hence Puli was designed to be decoupled from Composer, which has the additional benefit that you can install Puli packages that have been ins

[2015-10-02 15:59] mnapoli commented on #118
Hi! I'm not sure we are discussing the same thing :/ I'm not saying to store anything in composer.json or composer.lock, but rather that puli.json *behaves like* composer.lock (i.e. changes a lot, not readable, etc.).

It would be great (if possible) to move info that is generated to somewhere not in git (i.e. in `.puli/`).

Isn't the `packages` key for packages installed with Composer? For packag

[2015-10-02 16:02] webmozart commented on #118
Seems like you are indeed mixing things up a bit :) You can install packages in Puli with this command:

[code]

This package will be added to the "packages" key. The Composer Plugin does exactly that: call this command to register the Composer packages with Puli. But from the perspective of Puli, packages are not auto-generated: Someone somewhen called `puli package --install` to install each pac

[2015-10-02 16:47] mnapoli commented on #118
Ah ok thanks for explaining. So indeed it could be:

- store user-configured packages in `puli.json`
- store "auto-generated" packages in `.puli/…` (by auto-generated I mean added here by the Composer plugin)

Did I get it right?

[2015-10-02 21:02] tgalopin commented on #112
The last failing tests of repository are fixed in https://github.com/puli/repository/pull/61.

[2015-10-05 09:42] webmozart commented on #118
Yes :) That solution is a bit more complicated than moving all packages to `.puli/...`, regardless of whether they are automatically or manually installed. I'd go with a simple solution first.

[2015-10-05 10:00] #117 closed

[2015-10-05 10:01] webmozart commented on #112
All green \o/

[2015-10-05 10:01] #112 closed

[2015-10-05 11:19] EmanueleMinotto opened #124 "Remove unused files on dist"
Considering CI systems, I think some files (including the `tests` directory) should be removed when developers download puli dependencies using `--prefer-dist`.

thephpleague is doing this: https://github.com/thephpleague/skeleton/blob/master/.gitattributes

If it's ok I can send PRs removing puli dev dependencies in the `.gitattributes` for each repo.

[2015-10-05 11:20] webmozart commented on #124
Great suggestion :) Go ahead!

[2015-10-05 11:44] webmozart opened #125 "InMemoryRepository does not support loading children of link resources"
[code]

[2015-10-05 12:00] webmozart opened #126 "Add LinkResource::getTarget()"
The method `LinkResource::getTarget()` should be added that returns the target resource from the attached repository.

[2015-10-05 12:33] webmozart opened #127 ""puli build" should succeed if GeneratedPuliFactory contains syntax errors"
The `puli build` command should be able to regenerate the GeneratedPuliFactory class if it contains semantic or syntax errors. This could happen after upgrades (e.g. missing argument).

Right now, the command fails. GeneratedPuliFactory needs to be deleted manually, then the command succeeds again.

[2015-10-05 17:26] EmanueleMinotto commented on #124
Uhm... actually none of them pass tests, I'll investigate on the problems.

[2015-10-06 11:39] webmozart opened #128 "Add integration tests for the CLI"
We need integration tests for the CLI that test that the CLI actually works with all its dependencies loaded. The integration tests should:

* add, list and remove path mappings (`puli map`, `puli ls`, `puli tree`, `puli find`)
* add, list and remove binding types (`puli type`)
* add, list and remove bindings (`puli bind`, `puli find`)
* add, list and remove servers (`puli server`)
* add, list and

[2015-10-06 16:16] #128 closed

[2015-10-07 07:21] webmozart commented on #34
Just for reference: All bindings are enabled automatically by now.

[2015-10-07 07:22] webmozart commented on #124
Can you open a PR on the twig-bridge as well?

[2015-10-07 08:52] webmozart commented on #124
This is fixed now! :)

[2015-10-07 08:52] #124 closed

[2015-10-07 08:52] EmanueleMinotto commented on #124
Yeah! :+1:

[2015-10-07 10:04] stof commented on #119
@webmozart I can't think of a better suggestion

[2015-10-07 10:55] webmozart commented on #119
Well we still have `PResource`, `Resorz` or `Resource_` :sunglasses:

[2015-10-07 10:58] webmozart commented on #119
On a serious side, let's go for `PuliResource`. Anybody wants to work on that? (@EmanueleMinotto?) We also need to enable the phpdoc_types check again.

[2015-10-07 11:20] EmanueleMinotto commented on #119
@webmozart sure, I can do it :+1:

[2015-10-07 14:48] #126 closed

[2015-10-08 05:37] webmozart commented on #119
This fix needs to be applied to all repositories:

- [ ] [puli/repository](/puli/repository)
- [ ] [puli/discovery](/puli/discovery)
- [ ] [puli/url-generator](/puli/url-generator)
- [ ] [puli/manager](/puli/manager)
- [ ] [puli/cli](/puli/cli)
- [ ] [puli/composer-plugin](/puli/composer-plugin)
- [ ] [puli/twig-extension](/puli/twig-extension)
- [ ] [puli/symfony-bridge](/puli/symfony-bridge)
- [

[2015-10-08 06:32] webmozart opened #129 "Links should be handled properly when adding/removing resources"
When adding resources to or removing them from a repository, linked directories should be handled properly. Some cases that come to mind:

* When adding `/link/file` where `/link` => `/target`, the file should be added at `/target/file`
* When adding `/link1/file` where `/link1` => `/link2` and `/link2` => `/target`, the file should be added at `/target/file`
* Same for files in sub-directories of

[2015-10-08 16:31] webmozart commented on #118
I just recalled one more thing that might be a problem here. The "packages" key also stores settings for individual packages. For example, if you disable a binding of a package, that's stored under the "packages" key. Such settings *should* always be distributed with the project, so I'm not sure whether moving "packages" to a separate, unversioned file makes so much sense.

[2015-10-08 16:53] webmozart commented on #119
@EmanueleMinotto Will you have time to fix the other repositories soon? Currently, most repositories are broken on master.

[2015-10-09 06:47] mnapoli commented on #118
I see. Honestly I would say I'm fine to close this issue. It's a lot of work and maybe more subjective than objective in how much it's needed (I'm the only one complaining about it for now). I thought I would have time to work on this myself this friday but unfortunately I won't be able to join the coding session in the end. So feel free to close, unless you (or someone else) want this changed.

[2015-10-09 08:43] webmozart commented on #118
Ok. I'll close this for now and keep it in mind for later.

[2015-10-09 08:43] #118 closed

[2015-10-09 17:37] maciekpaprocki commented on #88
I am more then happy to develop that, if someone will provide me with example config file + tasks that need to be done. No experience with puli, tons of experience with gulp :)

So, let's say at the start task to observe will be
js
css
third party (bower/npm)

Should we target other things like
less
scss
sass
css4
coffescript
(i cannot really think of anything else now, but it's better if php deve

[2015-10-09 17:52] webmozart commented on #36
This is fixed now! \o/

[2015-10-09 17:52] #36 closed

[2015-10-09 17:56] webmozart commented on #88
@maciekpaprocki Awesome! We're hanging out in https://gitter.im/puli/issues right now, join us if you like!

[2015-10-09 18:16] #85 closed

[2015-10-09 18:33] webmozart commented on #119
This is finished now. :)

[2015-10-09 18:33] #119 closed

[2015-10-09 19:13] #127 closed

[2015-10-09 20:06] holloway87 opened #130 "Check for PHP version in self-update command"
The self-update command in the cli is only working with php 5.6, it should test the php version before executing.

[2015-10-09 20:06] holloway87 opened #131 "Clarify minimum PHP version for CLI self-update command"
The docs should state the minimum php 5.6 version for this cli command.

[2015-10-09 20:50] webmozart commented on #131
This is fixed in puli/docs.puli.io#5.

[2015-10-09 20:50] #131 closed

[2015-10-09 22:19] #130 closed

[2015-10-09 22:34] holloway87 commented on #106
It could be that you're looking for the Python Image Library: http://www.pythonware.com/products/pil/

[2015-10-10 01:26] webmozart commented on #95
See https://github.com/puli/installer for progress on this issue.

[2015-10-10 11:25] webmozart opened #132 "Fix fatal error when uninstalling PuliPlugin"
Currently, when uninstalling the PuliPlugin, a fatal error is generated since the classes it tries to find cannot be found anymore. The plugin should check whether it is installed in composer.json and disable itself if it is not.

[2015-10-12 12:07] webmozart opened #133 "Files get lost in PathMappingRepository"
The following test shows that files can get lost in PathMappingRepository when traversing children of a resource:

[code]

The `index.html.twig` file is missing from the output. The file can however be accessed:

[code]

[2015-10-12 17:53] webmozart opened #134 ""puli bind -u" does not work"
The command currently returns:

[2015-10-13 10:12] webmozart opened #135 ""puli publish" should fail if the resources/classes are not found, unless "-f" is passed"

[2015-10-14 21:37] #132 closed

[2015-10-15 10:10] EmanueleMinotto commented on #133
The problem seems to be insinde the `::resolveFilesystemPaths` method, because `$path` exists in the key-value store but it's mapped to `null`.

Afaik two solutions are possible:

1. while mapping */acme/blog/views/layout.html.twig*, if a parent directory like */acme/blog* is already mapped and it is not `null` (or if a subdirectory is already mapped), than all the subpaths between them will be ma

[2015-10-15 12:23] tgalopin commented on #133
Thanks for your research @EmanueleMinotto ! If you want to give this a try, I can give you a hand to build a PR. Would you be interested?

[2015-10-15 15:29] EmanueleMinotto commented on #133
@tgalopin sure! :+1:

[2015-10-19 13:14] webmozart opened #136 ""puli self-update" should download from puli.io"
The "puli self-update" command should be changed to download the PHAR from puli.io instead of GitHub. This should fix the command on PHP < 5.6.

See puli/installer#2 for details.

[2015-10-19 13:27] webmozart opened #137 "Use Humbug\SelfUpdate\VersionParser for version parsing"
The installer should use the VersionParser class from [padraic/phar-updater](/padraic/phar-updater) for the parsing of https://puli.io/download/versions.json. This makes sure that both the installer and the self-update command use the same logic.

[2015-10-19 13:28] webmozart opened #138 "Use humbug_get_contents() for downloading"
The [humbug_get_contents()](/padraic/file_get_contents) function should be used for downloading PHARs. This way, a lot of code in the installer can be removed and outsourced.

[2015-10-19 13:39] webmozart commented on #95
The basic installer is implemented now. Additional improvements are tracked via additional tickets.

[2015-10-19 13:39] #95 closed

[2015-10-21 20:03] EmanueleMinotto opened #139 "Use the last version of Composer on TravisCI"
Travis is using an old version of Composer and if not required in the `.travis.yml` file it could generate errors like this: https://travis-ci.org/puli/silex-provider/jobs/86696687#L366

So I think the install part should be replaced by:
[code]

[2015-10-21 21:18] tgalopin commented on #139
It was something we avoided to not add useless test time. Perhaps would it be better to add it only in failing repositories.

[2015-10-21 21:28] EmanueleMinotto commented on #139
@tgalopin that sounds good too to me, so should I add it only to puli/composer-plugin, puli/symfony-bundle and puli/silex-provider?

[2015-10-22 10:21] tgalopin commented on #139
I think it's a good idea. What do you think @webmozart ?

[2015-10-22 11:56] webmozart commented on #139
Sounds like a plan! :) But why on the composer-plugin and symfony-bundle repos? Those are green, no?

[2015-10-22 12:15] EmanueleMinotto commented on #139
symfony-bundle has the composer-plugin as a dependency and the composer-plugin is related to the problem reported above.

Honestly I don't know why symfony-bundle passes tests and the silex-provider doesn't, both of them are using the same outdated version of Composer.

Probably Murphy's law affects only me hahaha

[2015-10-22 13:55] webmozart commented on #139
Ok then. So we can close all other PRs?

[2015-10-22 13:57] EmanueleMinotto commented on #139
@webmozart yes thanks :)

[2015-10-23 16:28] #139 closed

[2015-11-01 15:21] EmanueleMinotto commented on #136
Reading https://github.com/padraic/phar-updater#sha-1-hash-synchronisation I see some differences between the two systems:

* to continue with the `padraic/phar-updater` package switching from the github strategy to the sha1 strategy, some changes should be done to https://github.com/puli/puli.io/tree/master/source/download too
* currently there is a stability option, with the sha system this opti

[2015-11-01 15:35] webmozart commented on #136
@EmanueleMinotto I think the best option would actually be to implement a custom strategy. That shouldn't be too hard to do. What do you think?

[2015-11-01 16:03] EmanueleMinotto commented on #136
It depends, what's the custom strategy?

Imo the Github strategy should be considered again before implementing an alternative strategy:

1. it's already integrated with the puli/cli repo, there's no need to update puli/puli.io too on each release (or commit if the unstable option should still be available, but I think it won't be available outside of the github strategy)
2. allows more versions t

[2015-11-01 16:06] webmozart commented on #136
@EmanueleMinotto The reason why we can't work with the GitHub strategy is that it doesn't work on PHP < 5.6. Those versions can't handle the SSL certificates that GitHub uses, that's why we need to download from a custom location with SSL certificates that work on PHP < 5.6.

For the custom strategy, see https://github.com/puli/installer/pull/2/files. The available versions are listed in https://p

[2015-11-01 16:08] EmanueleMinotto commented on #136
ok, than I'll implement a custom strategy based on those files :)

[2015-11-01 16:09] webmozart commented on #136
Thanks! :) Everything else you said is of course completely valid, and can be implemented with the custom strategy as well as far as I see.

[2015-11-01 16:15] webmozart commented on #88
@maciekpaprocki Any update?

[2015-11-01 18:35] #134 closed

[2015-11-01 23:33] msojda commented on #129
Hi there! :)

I've already started working on it - if I have any questions, I'll ask here. Please be tolerant - it will be my first contribution. :)

[2015-11-01 23:36] EmanueleMinotto commented on #129
@msojda don't forget to join on gitter ;)

[![Gitter](https://badges.gitter.im/Join%20Chat.svg)](https://gitter.im/puli/issues?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge)

[2015-11-02 04:16] webmozart commented on #129
@msojda Yes, you should definitely join Gitter! Also, talk to @tgalopin as I think that he has started to work on this.

[2015-11-02 09:49] tgalopin commented on #129
@msojda I did start to work on this but I didn't do much so don't hesitate to try :) . If you need help, I can probably give a hand :) .

[2015-11-03 23:12] webmozart commented on #137
Implemented in puli/installer#2.

[2015-11-03 23:12] #137 closed

[2015-11-04 14:51] webmozart opened #140 "Support environment variables in puli.json"
Environment variables should be supported in the "config" block of puli.json. Other configuration values can already be referred to with `{$param}`. I suggest to add support for environment variables in the form of `{$env:MY_ENV_VAR}` as suggested here: https://github.com/composer/composer/issues/2036

[2015-11-04 14:55] webmozart opened #141 "Add "config-dev" block that is loaded in dev environment"
The "config-dev" block should be supported in puli.json and loaded in the dev environment only.

[2015-11-04 15:10] webmozart commented on #140
One issue with that suggestion: It's not possible to define default values for environment variables that are not set. A better syntax could be `{#MY_ENV_VAR}` and `{#MY_ENV_VAR:default-value}`

[2015-11-07 22:48] EmanueleMinotto opened #142 "JsonFileStore second argument type"
Currently there's a problem in the `GeneratedPuliFactory` because its generated with a `new JsonFileStore(__DIR__.'/bindings.json', true);` inside, while the current master version of the KeyValueStore accepts only an integer: https://github.com/webmozart/key-value-store/commit/196c4c8ff4c643e6ba9f954ed482629620ac88d4#diff-d59c34cb33c1eb8de6bace8a46cfea1cR63

I could create a PR, but I don't know

[2015-11-09 14:00] webmozart commented on #142
Actually this bug should already be fixed. Could you delete your `GeneratedPuliFactory` and run `puli build`? I think that should fix it.

[2015-11-09 14:10] EmanueleMinotto commented on #142
This is the problem I'm having: https://travis-ci.org/puli/cli/jobs/90099887#L254
Is it related to this issue or to something else?

[2015-11-20 21:38] moufmouf opened #143 "Ability to add other bindings than Resource and Class bindings from the CLI"
The puli/discovery component has been written in a very generic way. By default it offer 2 types of things that can be bound: resources (via the `ResourceBinding` class) and classes (via the `ClassBinding` class). I was looking how I could add a third class. Let's call it `ServiceBinding`... a binding that references a service in a container (but it could be anything else, really...)

Writing the

[2015-11-25 13:07] webmozart opened #144 "Activate plugins automatically"
Puli plugins should be activated automatically when installed.

See https://github.com/puli/cli/pull/24

[2015-12-05 12:50] tgalopin commented on #129
We discussed this a bit with @webmozart and we concluded that for the moment, this feature needs too much work for probably not a big use case. We will see in the future if this is needed, but for the moment it's just too complicated. I let you close this @webmozart?

[2015-12-06 20:08] EmanueleMinotto opened #145 "PHP 7 support"
PHP 7 was released few days ago, what about its addition to the `.travis.yml` matrix of PHP versions?

[2015-12-06 21:36] tgalopin commented on #145
I agree. At the beginning we should put it in `allow_failures` though to avoid problems, but in the future we should support it.

[2015-12-06 22:13] EmanueleMinotto commented on #145
@tgalopin I've added it but I don't know why it's not created the instance using PHP 7 :\
anyway my changes are based on https://docs.travis-ci.com/user/languages/php/#PHP-7

[2015-12-06 22:24] tgalopin commented on #145
Awesome, thanks!

I think the nightly is the problem: if you remove  it, it should use the 7 stable.

[2015-12-06 22:28] EmanueleMinotto commented on #145
Solved, the problem was that I didn't include the version `7.0` in the `matrix.include` list, now should be ok.

[2015-12-06 22:34] tgalopin commented on #145
Great! I think you could remove the allowed failures for the repositories in which PHP7 works once the builds will be done.

What do you think of this @webmozart?

[2015-12-09 10:54] webmozart commented on #145
Hi :) Thanks for this! I think you should remove allowed failures for PHP7 everywhere. If a repository fails on PHP7, we need to fix this ASAP.

[2015-12-09 22:54] #129 closed

[2015-12-09 22:56] tgalopin commented on #142
Is this still a problem?

[2015-12-09 23:06] EmanueleMinotto commented on #142
@tgalopin yes, it is: https://travis-ci.org/puli/cli/jobs/95919602

[2015-12-09 23:15] tgalopin commented on #142
This comes from the refactoring we did with @webmozart a few months ago: https://github.com/webmozart/key-value-store/pull/9

Now the stores are using a decorator for the cache instead of a constructor argument. However in the JsonKeyValueStoreGenerator we are still using the constructor argument: https://github.com/puli/manager/blob/master/src/Factory/Generator/KeyValueStore/JsonFileStoreGenerato

[2015-12-10 00:51] EmanueleMinotto commented on #145
@webmozart done :)

[2015-12-10 11:22] webmozart commented on #145
Thanks @EmanueleMinotto, all merged! :)

[2015-12-10 11:22] #145 closed

[2015-12-11 17:14] moufmouf opened #146 "Question: way to trigger a specific function when bindings are updated"
Hi @webmozart !

I have a specific need regarding Puli. Basically, I would like to trigger some specific code each time a binding is updated. So far, bindings can be updated when a user runs a `composer update` (through the Composer plugin), or through the CLI.

What I would like to do is trigger a specific action at this time (if you remember our discussion at the Paris ForumPHP, I'm trying to tr

[2015-12-11 17:24] webmozart commented on #146
Hi @moufmouf! Yes, the way to go is with a plugin. The activation of plugins will be simplified with #144. Also, we need to add the events you need. Right now, not many events have been added to Puli's core yet. You can check the currently available events in https://github.com/puli/manager/blob/master/src/Api/Event/PuliEvents.php.

[2015-12-13 12:09] moufmouf commented on #146
@webmozart Thanks for the quick answer!

Looking at the `PuliEvents.php` file, I saw there is a `PuliEvents::GENERATE_FACTORY` event.
It seems fired in the `FactoryManagerImpl::generateFactoryClass` method, which is triggered from the `refereshFactoryClass` method. See: https://github.com/puli/manager/blob/master/src/Factory/FactoryManagerImpl.php#L235-L237

Since the factory seems refreshed each

[2015-12-13 21:40] moufmouf commented on #143
Closing this as puli/cli#24 is closed too.

[2015-12-13 21:40] #143 closed

[2015-12-13 21:54] moufmouf opened #147 "Classloader issues when working with plugins"
I'm not completely sure if I'm doing things right (since Puli Plugins are quite new), but here we go.

I created a class extending `PuliPlugin` in my package.

I ran:

[code]

Result: The plugin class TheCodingMachine\Yaco\Discovery\YacoPlugin does not exist.
Important note: puli is installed globally.

Now, I run:

[code]

**success!** It seems that the global puli install is unable to detect my

[2015-12-14 09:06] #138 closed

[2015-12-14 10:46] webmozart commented on #142
This was fixed in #28.

[2015-12-14 10:46] #142 closed

[2015-12-14 10:52] webmozart commented on #147
Thanks for reporting this issue @moufmouf! In general, this *should* work like this:

* When you use the Composer plugin, your project's `autoload.php` is registered as Puli's "bootstrap-file". Henceforth, Puli is able to load all classes of your project.

* After doing this, installing and using Puli plugins shouldn't pose any problems.

I suppose that you added your plugin before requiring the C

[2015-12-14 12:52] moufmouf commented on #147
:+1: That's exactly what happened. To fix this, I deleted my `puli.json` file, ran `composer update` (with the composer plugin declared in composer.json). Then, I installed my plugin again (`puli plugin -i XXX`) and everything works fine now.

Thanks!

[2015-12-14 12:52] #147 closed

[2015-12-14 13:30] #133 closed

[2015-12-14 16:00] webmozart opened #148 "Cache combined puli.json files of all installed packages"
Currently, whenever information about installed packages needs to be accessed, the complete PackageManager must be instantiated and loaded with the puli.json files of all installed packages. This process is a bit expensive, first of all due to file system accesses, and second due to validation and migration of the contents of each file. Vendor dependencies only (potentially) change when running "c

[2015-12-14 16:01] webmozart commented on #144
#148 should be implemented before this ticket is started.

[2015-12-14 16:07] webmozart commented on #147
Cool, thanks for the update. :)

[2015-12-14 16:08] webmozart commented on #148
@msojda You can work on this, if you like. :)

[2015-12-14 16:08] webmozart commented on #144
Here's a rough description of the changes we need to make:

Right now, plugins are activated through the "plugins" key in the root package. This key contains the names of all enabled plugin classes. I'd like to change this to work like Composer: We'll replace "plugins" by a "plugin-class" key that contains only the plugin class of the *current package*. We will then load the root puli.json and all

[2015-12-17 00:01] sagikazarmark opened #149 "Undefined offset 1 when CLI is installed with homebrew"
The error occurs in the composer plugin (PuliPlugin.php:551). Very interesting that the `PULI_FACTORY_CLASS` in the generated autoload file gets the following value:

`/usr/bin/env php -d allow_url_fopen=On -d detect_unicode=Off /usr/local/Cellar/puli/1.0.0-beta9/libexec/puli.phar $*`

The problem solved itself when I installed the phar from github.

The problem occured in this repository: https:/

[2015-12-17 08:46] webmozart commented on #149
Thanks for the report @sagikazarmark! Is this problem reproducible? Can you provide me the precise steps to reproduce it?

[2015-12-17 08:52] webmozart commented on #146
I can't guarantee that this event will always be triggered when bindings are updated, but for the forseeable future that should remain true. :)

[2015-12-17 08:52] #146 closed

[2015-12-17 10:22] sagikazarmark commented on #149
Yes, I can:

1. Install puli from homebrew
2. Make sure it is actually used instead of the phar downloaded (should be `puli` added to your prefix from the homebrew directory which is `/usr/local/Cellar/puli/1.0.0-beta9/bin/` for me)
3. Test the project I linked above

I saw this in the puli binary. Strangely the factory class constant was set to this value (as mentioned above).

[code]

Hope this

[2015-12-17 10:37] webmozart commented on #149
Unfortunately I'm not working on a Mac and can't test this. @tgalopin @EmanueleMinotto can you check this?

[2015-12-17 11:02] sagikazarmark commented on #149
Well, this is an environmental thing I guess, so I don't really now how to reproduce the issue under other platforms.

[2015-12-17 11:21] tgalopin commented on #149
I'll check that :) .

[2015-12-17 23:05] tgalopin commented on #149
I'm able to reproduce the problem, I'm working on it right now :) .

[2015-12-17 23:19] sagikazarmark commented on #149
:+1:

[2015-12-17 23:23] tgalopin commented on #149
The issue comes from the PuliRunner: [here](https://github.com/puli/composer-plugin/blob/master/src/PuliRunner.php#L64) we should be more clever than that. In our case, the PuliRunner detects the script `/usr/local/bin/puli` as a PHP script so it executes it with the PHP executable. However, this script is a Bash script so PHP just return the content of the script, which is `/usr/bin/env php -d al

[2015-12-18 08:10] webmozart commented on #149
Hm. What about checking for the presence of `<?php`? I.e., if the opening tag is found, use `php` to execute, otherwise run directly?

[2015-12-18 08:16] tgalopin commented on #149
That's a much better idea yes, it's easier to implement. I'm doing that and I check this night.

[2015-12-18 09:50] tgalopin commented on #149
I just opened a PR to fix this. @sagikazarmark, can you test with this fix? If you can't, I'll do it this evening :) .

[2015-12-18 15:55] sagikazarmark commented on #149
Works for me

[2015-12-19 15:05] harikt opened #150 "[Help] Customizing a 3rd party library"
Hi,

First thanks for your good work.

Have a question for it seems there was a strange issue on testing it. ( Not saying it is a bug for I may have done something wrong )

Installed a 3rd party library. Everything was working fine.

I started to customize some of the css, js file.
So mapped the `harikt/contact` to `res` of the current application.

Add a different css, it worked fine. But the js

[2015-12-19 15:07] harikt commented on #150
I did tried adding a `app.js` on the `/res/public/js/` of the root and it works! . If there is no js it cannot locate.

[2015-12-19 15:12] harikt commented on #150
Same applies when there is only `app.js` and no `main.css` file.

[2015-12-21 11:25] webmozart commented on #150
Did you resolve this problem? I just downloaded your application. I cannot even open `/contact`, since there seems to be an error 500. Should this work?

[2015-12-21 11:30] harikt commented on #150
no. I couldn't resolve the issue. Did you ran composer install ?

[2015-12-21 11:36] harikt commented on #150
So I think I know why you got 500. Do this for I removed the puli.json from application for this is for a tutorial and need to write step by step things ;) .

[code]

[2015-12-21 12:08] harikt commented on #150
Related #133

[2015-12-21 12:08] #150 closed

[2015-12-21 12:08] harikt commented on #150
Thank you @webmozart .

[2015-12-28 08:19] webmozart opened #151 "Upgrade to webmozart/glob 4.0"
All Puli packages that depend on webmozart/glob 3.0 should be upgraded to 4.0 instead. That version is much more efficient but breaks backwards compatibility, since escaping is now always enabled.

[2015-12-28 08:34] webmozart opened #152 "Fix PHP version constraints"
Right now, the PHP version constraint in composer.json is generally something like `>=5.3.9`. This should be fixed to `^5.3.9|^7.0`, since we cannot generally assume that our packages will be compatible with all future PHP versions.

One example where that became relevant is justinrainbow/json-schema. That package contains a class `String`, but now PHP 7 deprecated `String` as possible class name.

[2015-12-28 09:59] #136 closed

[2015-12-28 15:54] #152 closed

[2015-12-28 16:12] mvriel opened #153 "Use Puli as a Module/Plugin system for a (phar) packaged application"
This is more a request for information than a bug or feature request.

For phpDocumentor 3 we are researching how to approach plugins; in phpDocumentor 2 we used a custom-rolled system that did not tick all of the boxes and this makes us look around. Puli seems like an interesting candidate but I am not sure whether it can serve our use-case.

What we are looking for is a component that can:

- In

[2015-12-28 16:54] SenseException commented on #92
Currently only these repositories are left for some Scrutinizer fixes:

* https://scrutinizer-ci.com/g/puli/manager/issues/master
* https://scrutinizer-ci.com/g/puli/cli/issues/master
* https://scrutinizer-ci.com/g/puli/composer-plugin/issues/master

[2015-12-28 17:17] webmozart commented on #153
Thanks for that description @mvriel! :)

First of all, Puli does not download packages. This is Composer's domain and Composer handles that pretty well. However it is possible to install packages with Puli that have been downloaded by other means than Composer. This can be done with the Puli CLI:

[code]

Currently, packages are expected to be directories that optionally contain a puli.json file i

[2015-12-29 10:22] webmozart commented on #151
Still missing:

* puli/asset
* puli/composer-plugin
* puli/discovery
* puli/manager
* puli/repository
* puli/url-generator

[2015-12-29 11:18] EmanueleMinotto opened #154 "Add the prefer-source option to CI systems"
Without the explicit option Composer try to download the dependencies using the dist ([ref](https://getcomposer.org/doc/03-cli.md#install)), but after a number of requests [this problem comes out](https://ci.appveyor.com/project/webmozart/silex-provider/build/1.0.34/job/ngd0tv6s0nltefd1#L256), so every repository should use the `--prefer-source` in CI systems.

Currently missing:

 - [ ] puli/sile

[2015-12-29 11:22] xabbuh commented on #154
I wouldn't do that on Travis as you wouldn't then be able to cache downloaded packages (using the cache significantly speeds up builds). Isn't AppVeyor able to do some caching too?

[2015-12-29 11:26] EmanueleMinotto commented on #154
Yes, Appveyor has a cache too, but it's much more limited than on TravisCI because [resulting archive should not exceed 100 MB](http://www.appveyor.com/docs/build-cache).

[2015-12-29 16:31] #151 closed

[2015-12-29 21:48] mvriel commented on #153
Packages could just be directories; that is for our use-case not an issue (we don't package packages as phars; only the application itself).

The `phpDocumentor.phar` file should be installable locally and globally, but also from a source distribution such as composer or PEAR (this is one of the challenges that we have) so a solution that works in all these circumstances would be ideal.

Regarding

[2015-12-29 21:51] #149 closed

[2015-12-29 22:38] tgalopin commented on #154
As @xabbuh I think we definitely should keep the TravisCI cache. Also we already have to wait at least 20 minutes for Appveyor so 3 additionnal minutes sometimes seems better than 1 minute every time.

[2015-12-30 08:58] webmozart commented on #154
I think the main question is not whether or not to use the Travis CI cache, but about AppVeyor. @EmanueleMinotto started adding --prefer-source do the AppVeyor builds. Does anybody foresee problems with that?

[2015-12-30 09:22] #90 closed

[2015-12-30 09:29] webmozart opened #155 "Add persistent ChangeStream"
As a follow-up of https://github.com/puli/issues/issues/90 and https://github.com/puli/repository/pull/58, we should add a persistent implementation of ChangeStream so that we can actually access the resource versions of a repository loaded from disk.

As @tgalopin mentioned, using a KeyValueStore as backend of the ChangeStream is probably a good idea. The most important property of the ChangeStre

[2015-12-30 09:29] Nicofuma commented on #154
You can also use a valid public and permission less token (like nikos is doing here: https://github.com/symfony/symfony/pull/17171)

[2015-12-30 09:32] webmozart commented on #155
With regard to the second file format, we could implement a SerializingChangeStream that simply serializes/unserializes the complete object array and dumps it to/reads it from a file and compare that with the KeyValueStoreChangeStream.

[2015-12-30 09:32] EmanueleMinotto commented on #154
Without the `--prefer-source` also the `.gitattributes` files must be removed, because some repositories have also development dependencies, for example: puli/cli (in some tests) requires some files from puli/repository `tests/` directory, if downloaded via the distribution, those files won't be available.

If the argument moves to have or not have the .gitattributes in puli/* (and than allow the

[2015-12-30 10:00] webmozart commented on #154
@EmanueleMinotto We can fix that by not cross-requiring files from other test directories. It's convenient to do right now, but it's not a must have.

[2015-12-30 10:08] webmozart commented on #153
I will look more closely into this for the next milestone release and get back to you.

[2015-12-30 11:04] webmozart commented on #154
To follow up, I'd rather see us add --prefer-dist everywhere (Travis CI and AppVeyor) to speed up builds.

[2015-12-30 14:52] tgalopin commented on #155
The problem we had with store is that they don't necessarily keep order. I agree with the SerializingChangeStream, I would also create a JsonChangeStream.

[2015-12-30 16:13] webmozart commented on #155
Why not? If we store arrays in the individual KVS buckets, their contents should remain in order. We don't need versioning across different buckets.

[2016-01-02 15:15] gossi opened #156 "Composer plugin installs when it shouldn't"
I'm using puli for my framework, which does a great job so far. Yet I run into an odd situation, where I think puli is running install where it shouldn't. To understand this, here are the two types of packages that explain the requirements of my framework:

[code]

[code]

So, whenever I run  `composer update` in my module's package, the puli install is run as well - is that supposed to be? I'm as

[2016-01-02 19:48] gossi commented on #156
Update, I installed `puli/repository` in core as well and that made the same warnings to show up there, too. So must be something related to `puli/repository`.

[2016-01-03 12:03] mnapoli opened #157 "Show help message when bind/type yields empty list"
When no mapping, bindings or types are defined a call to `puli bind` or `puli type` yields an empty output.

On the contrary, `puli map` yields a very helpful message:

It would be great to have a similar message for `bind` and `type` (and maybe other commands I haven't used yet). Personally my experience with both of these commands was very frustrating partially because of that.

[2016-01-03 12:11] mnapoli opened #158 "Simpler API for puli type?"
I've been playing with `puli type` and was quick surprised with the API several times. Here is the current API:

[code]

This isn't very consistent, and I don't understand the choice of prefixing sub-commands with `--`. It reminds me of those obscure Unix commands with hundreds of options that have seemingly no hierarchy between them. IMO sub-commands should be distinct (in syntax) from options.

[2016-01-03 12:15] mnapoli opened #159 "Puli type: The "-u" option does not exist"
From http://docs.puli.io/en/latest/discovery/consuming-resources.html

        --description "A Yaml file with translations for the Translator class."

When I use the `-u` option I get the following result with Puli 1.0.0-beta9:

[code]

However `--update` works.

[2016-01-03 12:39] mnapoli opened #160 "Discovery: must install the Composer plugin in PHP packages?"
The documentation does not instruct to install the Composer plugin for PHP packages. However, in my situation it seems I have to, let me explain:

- package `php-di/kernel` defines a type `php-di/configuration`
- package `php-di/twig-module` requires the previous and defines a binding to `php-di/configuration`

But since `php-di/configuration` is defined in Kernel, and since the Composer plugin is

[2016-01-03 20:51] webmozart commented on #157
:+1:

[2016-01-03 21:07] webmozart commented on #160
You should use `--force` in this case.

Bindings and Binding Types are a decoupled mechanism to pull packages together. *If* someone uses your packages, and *if* they want to bind things automatically, *then* they have to install the Composer plugin.

Any suggestion for making the docs clearer on this?

[2016-01-03 21:12] webmozart opened #161 "Check that puli/cli has the expected version"
The Composer plugin should check that the Puli CLI has the expected version and create a proper warning otherwise. Right now, the plugin may create confusing warnings if an unsupported version of the CLI is found (see #156).

[2016-01-03 21:15] mnapoli commented on #160
Thanks for the answer.

After having played more with all this I realized it made no sense to not require the composer plugin in my "framework" (unless you can see a reason not to). I don't want end users to have to require the framework + require the Puli composer plugin, so it seems it makes sense to require it. That removes (it seems) the need for using `--force`, so in that case the documentat

[2016-01-03 21:15] #160 closed

[2016-01-04 10:49] webmozart opened #162 "Resources should not be attached when passed to add()"
see https://github.com/puli/manager/pull/40

[2016-01-04 10:52] #159 closed

[2016-01-04 10:53] webmozart commented on #159
Fixed in puli/cli#31.

[2016-01-04 10:59] webmozart commented on #158
Thanks for your suggestions @mnapoli! :)

The problem is that I want to maintain consistency between the CLI commands. For example, `puli map` or `puli bind` have the following commands defined:

[code]

If we change the option commands here to sub-commands, we have a problem:

[code]

Is "update" a query or the name of a sub-command? There are some hackish approaches to solve that problem, but I

[2016-01-04 11:02] mnapoli commented on #158
Ah right can't believe I missed that! The Symfony namespacing approach (`bind`, `bind:update`, ...) wouldn't fit though?

[2016-01-04 11:04] webmozart commented on #156
Hi @gossi, thank you for reporting your issue! :)

It seems that the version of puli/composer-plugin and of the `puli` CLI that you have installed are not compatible. I suspect that you are using the latest version of puli/composer-plugin, but an older version of the `puli` CLI. You can find which version you have with `puli -V`. You should have version 1.0.0-beta9.

If you don't, update to the la

[2016-01-04 11:07] webmozart commented on #158
@mnapoli Technically yes, but what would be a good reason to change this now? Such a change is quite a big break for existing users of Puli.

The reason I did not go with Symfony's way of namespacing is that I wanted to remain close to the `git` command in terms of user experience.

[2016-01-04 14:35] gossi commented on #156
Hi @webmozart,

I updated my puli-cli executable to be the most recent version (1.0.0-beta9 as we speak), so I thought, if I run `composer update` again, this should run without any warnings, yet it doesn't (same as above) - I also run it a second time, just to be sure, the recent update is still mixing up with a probably older version... also the second time shows the same warnings as above.

Mea

[2016-01-04 14:54] #161 closed

[2016-01-04 15:11] #155 closed

[2016-01-04 15:12] gossi opened #163 "Error: "A valid cafile could not be located locally." prevents install and self-update"
Hey,

I was about to update puli with `puli self-update`. However, this failed, because of:

[code]

So, I downloaded the phar manually and replaced mine. So I tried running self-update again, which failed (same output as above). So I tried to use the installer command `curl https://puli.io/installer | php` which throws a lot more errors:

[code]

Is there maybe a server problem with the SSL-Certi

[2016-01-04 15:43] webmozart commented on #163
Thanks for the report! Hard to say, seems to be a problem with https://github.com/padraic/file_get_contents. @padraic any idea?

[2016-01-04 15:47] webmozart opened #164 "Decouple Discovery from Repository/Glob"
The puli/discovery component should be decoupled from puli/repository and webmozart/glob. When using the Discovery only for discovering classes, those dependencies are not needed.

[2016-01-04 15:49] gossi commented on #156
Apart from that, the original idea of my issue was untouched yet. With this one here:

`framework/core` => `puli/composer-plugin`
`framework/module` => `puli/repository`

So, the module is a `puli/composer-plugin` because of it's dependency to core, a transitive depency, not a direct dependency. In the case of my module (non-direct composer-plugin dependency) I would not expect puli to run its ins

[2016-01-04 15:51] webmozart commented on #156
Would you like to join https://gitter.im/puli/issues? It's easier to discuss such details there.

[2016-01-04 15:56] tgalopin commented on #163
SSL ca files tried are these ones: https://github.com/padraic/file_get_contents/blob/master/src/Humbug/FileGetContents.php#L307. Can you check yours is present?

[2016-01-04 16:00] webmozart opened #165 "Download Puli if not available"
The most recent puli.phar should be downloaded by the Composer plugin if none is available on the system. We can present a dialog in Composer plugin if we detect this is the case.

Rough sketch of the scenarios:

Question accepted:

[code]

Question denied:

[code]

Question denied, custom install path:

[code]

[2016-01-04 16:08] sagikazarmark commented on #165
:+1:

[2016-01-04 16:10] tgalopin commented on #165
I would store somewhere the fact that we already asked the question to not ask it at every update.

[2016-01-04 16:13] dbu commented on #165
what on no, no? would the plugin silently not do anything, or would it abort the composer installation?

[2016-01-04 16:27] webmozart commented on #165
@dbu It would not install Puli and continue like now. Right now, if you don't have Puli installed, you get a warning when the Composer plugin is run, but Composer continues as usual.

[2016-01-04 16:30] mnapoli commented on #158
I understand, it's up to you of course. This is still the beta though, and it's possible to change the commands while preserving BC. I've always considered `git` commands and options as terrible UX (hence why so many features are often unknown and why GUI are so popular) but that's just my experience ;) Consider that user feedback not feature request :)

[2016-01-04 17:07] webmozart opened #166 "Add JsonDiscovery"
A JsonDiscovery implementation should be added to not require users of puli/discovery to install webmozart/key-value-store unless they really need it.

[2016-01-04 17:51] gossi commented on #163
I fixed this for me. I'm on Mac OSX El Capitan and they use curl with their own transport security. Read here: http://curl.haxx.se/mail/archive-2013-10/0036.html

I used this script and will put it into my dotfiles (based on https://gist.github.com/1stvamp/2158128):

[code]

And alternative should be to visit https://puli.io in Safari so the cert gets added to the keychain. Read here: https://appl

[2016-01-04 21:39] tgalopin commented on #163
That's clearly something that should be mentioned in documentation, yes :) . It's great that the update works now!

[2016-01-05 06:56] #164 closed

[2016-01-05 09:17] #166 closed

[2016-01-05 12:17] webmozart opened #167 "Store package list in .puli/packages.json by default"
Right now, the installed packages are stored in the "packages" key of the project's puli.json file. This file is usually versioned. Most people use Composer to manage their packages, so whenever they do `composer install` or `composer update`, this list may change (similar to composer.lock).

In order to prevent this, we should add two new configuration keys to Puli:

* package-list.path: The path

[2016-01-05 12:20] sagikazarmark commented on #167
When a package is added/modified using the cli, `package-list.inline` should automatically be set to true.

[2016-01-05 12:21] webmozart commented on #167
@sagikazarmark Sure? You could also version the packages.json directly (and for example move it to the root). This seems like a bit too much magic to me.

[2016-01-05 12:24] sagikazarmark commented on #167
You can't move it to the root if you have node dependencies as well, but you are right, you can still version the file in the `.puli` folder. Although that's another source for confusion which I mentioned earlier somewhere: managing configuration in two separate files. But I guess it is up to the user to handle this scenario then.

[2016-01-05 12:26] webmozart commented on #167
@sagikazarmark I agree. I think we should add a page in the documentation where we describe how to manually manage packages. This documentation includes setting the configuration key and how to use the `puli package` command. With that this shouldn't be too hard.

[2016-01-05 12:29] webmozart opened #168 "Decouple Manager/Composer plugin from Repository"
It should be possible to use Puli and the Composer plugin without having the Repository component installed. This can be useful in projects that want to use Class Discovery, but not the Repository.

/cc @sagikazarmark

[2016-01-05 12:34] sagikazarmark commented on #168
:+1: Sounds cool. It would make packages depending on it much lighter.

[2016-01-05 13:18] sagikazarmark commented on #158
I guess this isn't about just `puli type` command anymore, but the general approach.

Actually I am very happy with the console package this way, because I always liked git commands and never really became friends with the symfony command namespacing.

I think there are two kinds of possible confusion here:

1. `puli map` without arguments acts as list, with arguments acts as create
2. Update/dele

[2016-01-05 13:33] webmozart commented on #158
Adding subcommands is possible, but had the downside that we lose short aliases. For example:

[code]

The option commands work just like in `git tag`: the option of the command always needs to precede any further options.

[2016-01-05 13:44] sagikazarmark commented on #158
I think map and other commands are rather similar to the remote than the tag command. I wonder why they differ at all though. Is this historical?

The difference I think is that tag command accepts one argument (the tag itself), while remote and puli commands accept multiple arguments.

[2016-01-05 13:44] mnapoli commented on #158
It's always possible to have aliases for such commands. Even in Symfony for example `bin/console d:cont` runs `bin/console debug:container` (i.e. it tries to match commands).

`puli map d` could be a shorter version of `delete`.

[2016-01-05 14:33] mnapoli commented on #167
:+1: that would be awesome, I've always been slightly bothered by this seemingly dynamic list being versioned in git ;)

[2016-01-05 15:22] webmozart commented on #156
I added a new ticket for this problem: #167

[2016-01-05 15:22] #156 closed

[2016-01-05 15:53] #162 closed

[2016-01-05 18:01] webmozart opened #169 "Tweak CI configuration"
The CI configuration for Travis and AppVeyor should be improved to speed up our builds. They are quite horribly slow at the moment.

I already did this for puli/discovery and puli/manager with huge improvements. For a template see https://github.com/puli/manager/pull/44.

This should be done for all puli/* and webmozart/* repositories.

[2016-01-05 18:01] webmozart commented on #154
see https://github.com/puli/issues/issues/169

[2016-01-05 18:01] #154 closed

[2016-01-06 01:01] EmanueleMinotto commented on #169
I have a couple of questions about the template:

* why xdebug should be removed? phpunit can't generate the code coverage without it (visible [here](https://travis-ci.org/puli/manager/jobs/100401973#L242))
* why the `$TRAVIS_REPO_SLUG` env is checked? doesn't work in forks (and I'm not sure for PRs)

[2016-01-06 06:56] xabbuh commented on #169
Xdebug is indeed needed to generate code coverage reports. However, it's not necessary to generate them in every single job (see puli/manager#45 for a suggestion on how to generate coverage reports in only one job).

[2016-01-06 10:31] webmozart commented on #169
The `$TRAVIS_REPO_SLUG` is checked precisely to prevent forks from using my personal API token :) The token is limited to 5000 requests per hour, hence I'd like to use it for my own repositories only.

Here's a PR for puli/repository that includes the coverage generation as well: https://github.com/puli/repository/pull/83

[2016-01-06 10:35] xabbuh commented on #169
@webmozart Do you have separate tokens for the `webmozart` and `puli` packages?

[2016-01-06 10:35] webmozart commented on #169
@xabbuh no, the limit is per account anyway (i.e. @webmozart)

[2016-01-06 10:50] webmozart commented on #169
Here's another tweak to improve the speed of the --prefer-lowest build now that PHP 7 is stable: https://github.com/puli/repository/pull/84

[2016-01-06 11:24] EmanueleMinotto commented on #169
Shouldn't the appveyor.yml file contain the cache setting `%LOCALAPPDATA%\Composer\files -> appveyor.yml` too?

[2016-01-06 11:32] webmozart commented on #169
What do you think @nicolasgrekas? I think you removed it from Symfony's configuration on purpose?

[2016-01-06 12:43] nicolas-grekas commented on #169
the appveyor cache is only 100Mb, without regular cleaning it could get full quickly
I've no strong opinion on this, you decide on your own. It the perg gain significant enough?

[2016-01-06 13:17] webmozart commented on #169
One could regularly clear the caches manually to prevent this by using API calls: https://github.com/appveyor/ci/issues/207 Sounds a bit complicated though and I'm not sure whether it's worth it.

[2016-01-07 12:13] webmozart opened #170 "Implement Serializable in BindingType"
The class BindingType should implement the interface Serializable in order to reduce the size of the serialized form in JSON files.

[2016-01-07 13:10] webmozart opened #171 "Add BindingSerializer interface"
The interface BindingSerializer should be implemented which converts Bindings from and to JSON. This interface can be implemented to support custom Binding classes in puli.json.

[code]

It should be possible to define serializers in puli.json:

[code]

Each "bindings" entry in puli.json is passed to all known serializers in order to be unserialized. On the reverse, each Binding stored in a puli.j

[2016-01-07 13:14] webmozart opened #172 "Decouple Discovery from Repository"
The Discovery component shouldn't know anything about the Repository component. Instead, as soon as https://github.com/puli/issues/issues/171 is implemented, the `ResourceBinding` and `ResourceBindingInitializer` classes should be moved to the Repository component. In addition, a `ResourceBindingSerializer` should be added to the Repository component that loads and saves `ResourceBinding` instance

[2016-01-07 23:55] sagikazarmark commented on #164
Nice. :+1:

[2016-01-08 00:02] sagikazarmark commented on #165
What about exit code? Is it possible at all to return with an exit code from a plugin? I think even if composer continues running, showing an error is not enough. I would expect a CI build failing in this case.

[2016-01-08 09:06] webmozart opened #173 "Simplify puli.json"
Right now, we mostly recommend to use the Puli CLI for configuring Puli package. Unfortunately, using CLI programs is a problem for many developers. Therefore I propose to simplify the puli.json schema in order to make it more accessible to a larger crowd of developers.

Thanks to our JSON migrations (#96), we can do this without breaking any existing projects.

One step in this direction is descr

[2016-01-08 16:17] tgalopin commented on #173
I agree 100%.

What is the use-case of this?

That's a good idea. What about using the same name in the CLI?

Globally, I think it's a great idea. Most people tend to edit JSON files by hand and don't use CLI, we should try to simply their job :) .

[2016-01-09 10:31] mnapoli commented on #173
This is awesome, all of this! I like using the CLI but as you said, many users would rather edit the file themselves.

Is it (will it be) possible to disable completely a module?

Why I ask this: in some frameworks (e.g. Symfony) you register bundles/modules explicitly with code which leads to a 2 step install:

- install the package using Composer
- enable the package in your app/framework

I sta

[2016-01-10 16:44] tgalopin commented on #148
What do you think of adding a common interface for PackageManager and CacheManager to be clear some methods are shared?

[2016-01-10 20:24] webmozart commented on #173
@mnapoli We can easily add a way to disable packages, e.g. (similarly to "override"):

[code]

[2016-01-10 20:34] webmozart commented on #173
We could also rename "override-order" to "reorder". This option can already be used to tell Puli to load a package "a" before a package "b":

[code]

Note that you don't need to include the names of any other installed packages (e.g. "c", "d" and "e") in this list if you don't want to.

One possible caveat: At the moment, packages that are loaded later *override* packages that are loaded earlier.

[2016-01-11 07:39] mnapoli commented on #173
To me it makes sense. What would happen to packages not defined in "order": do they get appended to the list or prepended?

[2016-01-11 16:23] gossi commented on #167
I like the idea of having a "public" and a "private" area. Public is, where a user/developer operates, typically `puli.json`. All changes in  `puli.json` are made by the developer itself, either manipulating the file manually or running a cli command. The file belongs to the user, puli itself shouldn't change anything there (as it is typically versioned). Instead all storage puli creates itself sh

[2016-01-11 16:27] sagikazarmark commented on #167
@gossi be aware that the behavior is either one or the other. If you mix manual package definitions with composer, you will still have to maintain a list which might be modified by composer. This is only useful when you have composer-only puli packages in which case, the list does not have to be version controlled.

But if the two approaches are mixed (composer and manual packages) then the full p

[2016-01-12 12:24] webmozart commented on #167
Well, we could additionally add the config keys `package-list.<installer>.path` and `package-list.<installer>.inline` that allow to move the packages for a specific installer name to a separate file. Then we could set

[code]

by default.

[2016-01-12 12:26] webmozart commented on #165
I don't think Composer should fail completely if Puli cannot be downloaded. Puli could be optional and in that case I don't want to break the build. If Puli is required, the build will fail anyway. What do you think?

[2016-01-12 12:27] webmozart commented on #173
@mnapoli That's undefined. The only guarantee we make is that packages are loadedin an order that respects all the "override" keys and the "reorder" key in the root package.

[2016-01-13 16:10] webmozart opened #174 "Decouple Discovery from ramsey/uuid"
Right now, the Discovery component has a dependency to ramsey/uuid ^2.0, which makes the component incompatible with projects that require ramsey/uuid >= 3.0. We can't upgrade without dropping PHP 5.3 support. As per #173 however, it will be possible to remove the dependency entirely.

[2016-01-14 14:46] gossi opened #175 "puli self-update fails"
Another time the self-update fails:

[code]

with:

[code]

[2016-01-14 14:54] webmozart commented on #175
Hi! Thank you for reporting this issue. You're very likely using PHP < 5.6. In beta 9, the self-update does not work for that version. In beta 10, that is fixed.

I recommend to use the installer instead this time:

[code]

[2016-01-14 14:55] #175 closed

[2016-01-14 16:40] sagikazarmark commented on #165
Not quite sure.

Also @dbu's point still concerns me. I expect this feature to allow fully unattended installation of composer packages with puli support.

[2016-01-14 16:41] temp commented on #173
Like it! :+1:
Making things easier is always appreciated.
We are having a lot of bindings, but never had the necessity to enable/disable single bindings.

[2016-01-14 19:12] dbu commented on #165
i guess this means reporting a good exception message when things are not there as expected. i can see that the presence of the puli dependency alone leading to installation failures could be annoying as well. though maybe: have a composer.json config option to skip the error, but fail by default (and mention the config option in the failure)?

[2016-01-14 19:16] Nyholm commented on #165
I think that is the way to go.

If you don't have the proper PHP-extensions then puli will fail. Same thing should be applied if Puli is not available.

[2016-01-14 20:30] #169 closed

[2016-01-14 23:39] gossi opened #176 "Tests on travis fail because of puli"
I realized, tests on travis are failing because of puli. Here is a travis log: https://travis-ci.org/keeko/core/jobs/102379958

Seems like that happens because a puli-cli is missing?

[2016-01-15 10:07] gossi commented on #165
I just had this case, where a missing puli cli failed my tests on travis, see #176 (which they shouldn't). Here are my thoughts on this:

1. Ask if puli should be downloaded (if composer is in interactive mode) - but just once not every time (you want to run `composer up` and come back when it is finished, instead saying no over and over again) -> Go with "no" in non interactive mode. Maybe ask, i

[2016-01-15 14:32] sagikazarmark commented on #165
What does this mean?

Tests should not fail, SO puli should be installed

OR

Tests should not fail IF puli is not installed

[2016-01-15 18:04] sagikazarmark opened #177 "Report when puli is found but not executable"
I spent half an hour with investigating why builds are failing when the executable was definitely there.

If it is not executable, the composer plugin silently fails.

Also, I don't understand why checking executable bit is necessary in the first place, because as I can see, it is executed with the php interpreter anyway.

[2016-01-16 11:49] gossi commented on #165
In my case:

[2016-01-19 09:02] temp opened #178 "Puli filesystem repository deletes *all* symlinked files"
After a puli build I noticed that *all* of my resource files were simply deleted from my drive - luckily I had no modifications ;-)
Tried to remember what I did, and I noticed that I moved one of the resource dirs before calling puli build.
Seems like puli doesn't check the (invalid) symlinks, and instead of removing the symlink, it removes the file.

Here are the steps to reproduce:
[code]

Expec

[2016-01-19 09:06] tgalopin commented on #178
Are you under Windows with Cygwin or direct Linux? It could be a symlink Windows resolvment problem.

[2016-01-19 09:20] temp commented on #178
Mac :-D
But I saw this behaviour on windows some time ago, on the windows machine of a colleague. But we weren't able to reproduce it at that time.

[2016-01-19 09:53] webmozart commented on #178
Thanks for the reproduction code!

@tgalopin Do you have time to look at this?

[2016-01-19 09:57] tgalopin commented on #178
@webmozart Not right now but I will :) .

[2016-01-19 12:30] tgalopin commented on #178
[code]

seems to be enough to see the problem. I'm working on it.

[2016-01-19 13:06] tgalopin commented on #178
I found the problem, I make a PR right now.

[2016-01-19 13:22] webmozart opened #179 "Respect override order in Discovery"
The Discovery should return bindings in an order that respects the "override" statements. The most specific bindings (i.e., if A overrides B, the ones from A) are returned last.

[2016-01-19 13:41] tgalopin commented on #178
In short: the problem comes from directory links and how `FilesystemRepository::clear` handle them.

In details:

The `build` cli command do two things: clear the repository and rebuild it. To clean the repository, the manager call the method `clear` of the configured repository (in our case FilsystemRepository).

In the FilesystemRepository, `clear` calls `removeResource` on all the resources in

[2016-01-19 14:15] webmozart commented on #178
What about checking whether a file is a link before deciding to recurse into it?

[2016-01-19 14:45] tgalopin commented on #178
I think you mean a directory? It may indeed work. I'll create a test and try to fix it using your solution in priority as it seems more logical :) .

[2016-01-19 17:09] tgalopin commented on #178
I exposed the problem with two tests here: https://github.com/puli/repository/pull/91

[2016-01-25 23:02] gossi commented on #98
I'd like to reopen this one, because the error message is irritating. I had the `puli/url-generator` package installed and get the warning about a non-installed url-generator - huh? My problem was I didn't pass the url-generator as second parameter to the `PuliExtension`.

Before: `new PuliExtension($repo)`
After: `new PuliExtension($repo, $discovery)`

Also docs don't mention the second parameter

[2016-01-27 08:59] tgalopin commented on #125
I think this is done by the refactoring of the paht-mapping repo, if I'm wrong, don't hesitate to reopen it.

[2016-01-27 08:59] #125 closed

[2016-01-28 14:16] #178 closed

[2016-01-28 14:17] webmozart commented on #178
This is fixed in puli/repository#91.

[2016-01-31 20:37] devigner opened #180 "Symfony 3: Warning: constant(): Couldn't find constant PULI_FACTORY_CLASS"
Can Puli be used in Symfony 3?

If not the problem is very clear, but otherwise I'm running in this error:

Warning: constant(): Couldn't find constant PULI_FACTORY_CLASS

Also puli/cli is not installable (could be the cause of the problem), my current composer.json looks like:

``
    {
        "name": "devigner/app",
        "license": "proprietary",
        "type": "project",
        "autoload"

[2016-01-31 20:59] tgalopin commented on #180
The `PULI_FACTORY_CLASS` is generated by the Composer plugin, so if your install fails, it's completely normal the constant is not defined.

What is your error when you run `composer install` ?

[2016-01-31 22:10] devigner commented on #180
Nevermind, "puli.phar" was not executable .... Thought I checked everything but forgot the obvious ... :p

[2016-02-01 12:50] webmozart commented on #180
Hehe :) Can this be closed?

[2016-02-01 12:52] devigner commented on #180
Yes! Although the question about Symfony 3 should be answered somewhere. Could not find it easy. A reason for doubt

[2016-02-01 14:16] webmozart commented on #180
@devigner What do you mean? The latest version of Puli should support Symfony 3. Did you experience any problems?

[2016-02-01 15:55] webmozart commented on #176
Hi @gossi :) Did you try adding puli/cli as dev dependency?

[2016-02-01 18:01] #174 closed

[2016-02-01 19:00] #170 closed

[2016-02-01 19:06] #172 closed

[2016-02-01 19:27] devigner commented on #180
composer require puli/twig-extension:^1.0 failed but somehow composer.json was updated. composer update completed the job.

Output after:

``
./composer.json has been updated
Loading composer repositories with package information
Updating dependencies (including require-dev)
Nothing to install or update
Generating autoload files

Updating the "app/config/parameters.yml" file

  [Symfony\Component\

[2016-02-01 19:34] webmozart commented on #180
Ah you probably didn't have the Composer plugin installed in the first place. That plugin generates the PULI_FACTORY_CLASS constant.

[2016-02-01 19:43] devigner commented on #180
I have, as shown in my first post.

Maybe I forgot a step, I took an existing Symfony 3 project (week old) and downloaded puli.phar. After that I required the symfony-bundle package, after that the composer plugin package and than the trouble started.

If you need anything I can provide of course.

[2016-02-01 19:45] webmozart commented on #180
@devigner Thanks for the feedback! I guess the error stems from the fact that puli.phar was not executable. This should not happen anymore (as easily) once https://github.com/puli/issues/issues/177 is fixed.

[2016-02-01 19:50] devigner commented on #180
But the steps I just printed out are executed just now, and if I repeat it the "require" will fail again. With composer require the Puli part is skipped:

Generating the "PULI_FACTORY_CLASS" constant
Registering "Puli\GeneratedPuliFactory" with the class-map autoloader
Synchronizing Puli with Composer
Deleting the ".puli" directory
Running "puli build"

[2016-02-01 19:55] webmozart commented on #180
@devigner Hm weird. Can you upload some demo project that I can use to reproduce this? This works for me...

[2016-02-01 20:08] devigner commented on #180
It's a docker app, could be the problem ;)

No readme, nothing the start of some awesomeness

https://github.com/devigner/devigner.io

[2016-02-01 20:52] webmozart commented on #180
Thanks! Can you also tell me how I can reproduce the bug in that project?

[2016-02-01 20:55] devigner commented on #180
Two steps:

`composer require puli/twig-extension:^1.0`

The error wil drop

`composer update`

The project is fixed

[2016-02-02 12:34] #157 closed

[2016-02-02 17:35] gossi commented on #176
Nope, and doing so would feel wrong.

[2016-02-02 17:50] webmozart commented on #176
@gossi Then you need to adjust your build script to install Puli by running `curl https://puli.io/installer | puli`.

[2016-02-02 22:22] devigner commented on #180
Maybe this is the problem:

``
[32m./composer.json has been updated[39m
[32mLoading composer repositories with package information[39m
[32mUpdating dependencies (including require-dev)[39m
[37;41mYour requirements could not be resolved to an installable set of packages.[39;49m

  Problem 1
    - Conclusion: remove symfony/symfony v3.0.1
    - Conclusion: don't install symfony/symfony v3.0.

[2016-02-02 22:58] gossi commented on #176
Nope, wrong, too. Every I need to do is a workaround to cope with a puli problem. My tests run fine, when everything is installed, yet puli prevents this install. I expect puli to be clever enough to skip it's own installation mechanism, when its required dependencies are not present. Well, at least that it doesn't break other's code with a `Fatal Error` but degrade gracefully with a warning or so

[2016-02-03 08:26] webmozart commented on #176
Ah, I just saw the fatal error in the log. That's a bug indeed. The install should proceed after the warning.

[2016-02-03 08:31] webmozart commented on #180
Indeed, the latest version of webmozart/console does not seem to be compatible with Symfony 3. Thanks for the log!

[2016-02-03 09:48] devigner commented on #180
Always!

[2016-02-05 10:04] webmozart commented on #180
I published a new version of webmozart/console now that supports Symfony 3. Thanks for your patience! :)

https://github.com/webmozart/console/releases/tag/1.0.0-beta5

[2016-02-05 10:04] #180 closed

[2016-02-05 19:51] SenseException commented on #92
@webmozart During my work on cleaning up puli/cli I found a blocker: webmozart/console#14

If you can give me some feedback, I can do a PR for webmozart/console.

[2016-02-05 22:12] mnapoli opened #181 "Puli is broken when updating to the last versions"
Requiring last Puli betas yields the following errors:

[code]

I'm guessing this is a known issue given [this tweet](https://twitter.com/PuliPHP/status/685132540588507137). Requiring the recommended package now leads to the following error:

[code]

Line 41 of the generated puli factory:

[code]

(notice the `true`)

What JsonFileStore expects:

[code]

I can't find where the `GeneratedPuliFactor

[2016-02-05 22:17] mnapoli commented on #181
FYI changing the `true` to a `0` leads to the following error:

[code]

This doesn't seem to be a solution.

[2016-02-06 13:33] devigner commented on #180
Confirming the bug is resolved!

[2016-02-08 10:04] webmozart commented on #181
@mnapoli Thanks for the report. I suggest to switch to the `json` repository implementation:

[code]

Right now, you seem to be using the `key-value-store` implementation with a `json-file` store as backend.

[2016-02-08 10:09] webmozart commented on #98
@gossi Thanks for the report! Could you open a new issue please?

[2016-02-08 10:20] mnapoli commented on #181
:+1: thanks I'll try that, what is the "repository implementation"? Is it `puli.json`?

And will it be enabled by default for new projects from now on?

[2016-02-08 10:22] webmozart commented on #181
@mnapoli Yes, `json` is the default. You can actually switch to default using:

[code]

The "repository implementation" is the implementation of `ResourceRepository` that is used to store the resources of your modules. Right now, you are using `KeyValueStoreRepository`, but in the latest release of [puli/repository](/puli/repository) we added a much better `JsonRepository` implementation.

[2016-02-08 17:44] gossi opened #182 "Twig extension notifies Url Generator is missing when it isn't"
I came across this one, when I got the error that the url generator package is missing. AlthoughI had the `puli/url-generator` package installed and get the warning about a non-installed url-generator - huh? My problem was I didn't pass the url-generator as second parameter to the `PuliExtension`.

Before: `new PuliExtension($repo)`
After: `new PuliExtension($repo, $discovery)`

Also docs don't me

[2016-02-09 21:54] mnapoli commented on #181
Should this issue be closed then?

[2016-02-09 23:50] webmozart commented on #181
Let me check whether this issue is resolved in master first.

[2016-02-14 21:33] devigner opened #183 "Symfony 3 + Puli + composer require: PULI_FACTORY_CLASS"
After issue #180 was resolved I still got the error but **only** in the following matter:

    $ composer require <any>/<any>

Results in the already famous (for me) error:

`
 ./composer.json has been updated
Loading composer repositories with package information
Updating dependencies (including require-dev)
Nothing to install or update
Generating autoload files

Updating the "app/config/paramete

[2016-02-19 14:56] bamarni opened #184 "Symfony bundle - auto-enable stream wrapper through config"
Would it make sense to have a config directive in puli bundle to register the stream wrapper automatically? Having this code on Puli's side would also make sure it's registered in the optimized way through a callable.

[2016-02-19 19:39] webmozart commented on #184
Hi! I'm not a big fan of the stream wrapper since it's basically a global dependency that is hard to customize/override. I think that you should always use the `puli.repository` service instead.

What's your goal?

[2016-02-19 19:42] webmozart commented on #183
Thank you for reporting this @devigner! This is really strange. Could you push some simple repository that reproduces the problem for you, together with some steps that let me reproduce it as well?

[2016-02-19 19:43] webmozart commented on #182
Thanks for reporting this issue @gossi! We'll try to find a better message here.